@media (min-width: 361px) and (max-width: 550px) {
  .choose-your-tour__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  
}
