@import "../../../base/variables";

.contact__paragraph {
  @include regular-text;
  text-align: left;
}

@media (max-width: 768px) {
  .contact__paragraph {
    text-align: center;
    font-size: $size-16;
  }
}

@media (max-width: 550px) {
  .contact__paragraph {
    width: 312px;
  }
}

@media (max-width: 360px) {
  .contact__paragraph {
    position: relative;
    left: 4px;
    top: 1px;
  }
}
