@import "../../../base/variables";

.contact__paragraph {
  text-align: left;
  color: $gray-300;
  @include regular-text;
}

@media (max-width: 768px) {
  .contact__paragraph {
    text-align: center;
    font-size: $size-16;
  }
}

@media (max-width: 550px) {
  .contact__paragraph {
    width: 312px;
  }
}
