@import "../../../base/variables";

.contact__paragraph-link {
  position: relative;
  color: $black;

  &::after {
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 0;
    height: 1px;
    display: block;
    background-color: $black;
    content: "";
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &:active {
    color: $green-400;
  }

  &:active::after {
    background-color: $green-400;
  }
}

@media (hover: none) {
  .contact__paragraph-link {
    &::after {
      width: 0;
      transition: none;
    }

    &:hover::after {
      width: 0;
    }
    
    &:active {
      color: $green-400;
    }
  }
}
