@import "../../../base/variables";

.take-tour__form-input-name {
  width: 100%;
  height: 68px;
  padding: 19px;
  border: 1px solid $beige-200;
  border-radius: 10px;
  background: $beige-100;
  transition: background-color 0.3s ease, border 0.3s ease;

  &:hover,
  &:focus {
    background: $beige-200;
  }

  &:hover {
    border: 1px solid $beige-200;
  }

  &:focus {
    border: 1px solid $gray-300;
  }
  
  &::placeholder {
    color: $gray-300;
  }
}

@media (max-width: 1024px) {
  .take-tour__form-input-name {
    padding: 34px 19px;
  }
}

@media (max-width: 768px) {
  .take-tour__form-input-name {
    font-size: $size-16;
  }
}

@media (max-width: 550px) {
  .take-tour__form-input-name {
    width: 278px;
    height: 43px;
    padding: 8px;
  }
}

@media (max-width: 360px) {
  .take-tour__form-input-name {
    padding: 9px;
  }
}

@media (hover: none) {
  .take-tour__form-input-name {
    &:focus {
      border: 1px solid $gray-300;
      background: $beige-200;
    }
  }
}
