@import "../../../base/variables";

.histories__paragraph {
  @include regular-text;
  margin-bottom: 100px;
  text-align: center;
  color: $gray-300;
}

@media (max-width: 768px) {
  .histories__paragraph {
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .histories__paragraph {
    font-size: $size-16;
  }
}

// @media (max-width: 360px) {
//   .histories__paragraph {
//     margin-bottom: 45px;
//   }
// }
