@import "../../../base/variables";

.histories__paragraph {
  position: relative;
  top: -25px;
  margin-bottom: 96px;
  line-height: 142%;
}

@media (max-width: 1024px) {
  .histories__paragraph {
    top: -24px;
    margin-bottom: 95px;
  }
}

@media (max-width: 550px) {
  .histories__paragraph {
    margin-bottom: 61px;
    text-align: center;
    line-height: 142%;
  }
}

@media (max-width: 360px) {
  .histories__paragraph {
    margin-bottom: 45px;
    font-size: $size-16;
  }
}
