.photos__images-col {
  position: relative;
  width: 100%;
  height: 301px;
}

.photos__images-col {
  .photo__images-col-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .photos__images-col .photo__images-col-img {
    height: 301px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .photos__images-col:nth-child(3) .photo__images-col-img {
    display: none;
  }
}
@media (max-width: 550px) {
  .photos__images-col {
    height: 100%;
  }
}

@media (max-width: 360px) {
  .photos__images-col:nth-child(3) .photo__images-col-img {
    display: none;
  }
}
