@import '../../../base/variables';

.choose-tour__card-heading {
  font-weight: $weight-500;
  font-size: $size-35;
  line-height: 124%;
}

@media (max-width: 1024px) {
  .choose-tour__card-heading {
    line-height: 123%;
  }
}

@media (max-width: 768px) {
  .choose-tour__card-heading {
    font-size: $size-20;
  }
}

@media (max-width: 550px) {
  .choose-tour__card-heading {
    margin-bottom: 14px;
    font-size: $size-23;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}

@media (max-width: 360px) {
  .choose-tour__card-heading {
    letter-spacing: 0.043em;
  }
}
