@import "../../../base/variables";

.choose-tour__card-heading {
  margin-bottom: 16px;
  @include cards-heading-style;
}

@media (max-width: 920px) {
  .choose-tour__card-heading {
    font-size: $size-23;
  }
}

@media (max-width: 768px) {
  .choose-tour__card-heading {
    font-size: $size-20;
  }
}

@media (max-width: 550px) {
  .choose-tour__card-heading {
    margin-bottom: 14px;
    font-size: $size-23;
    letter-spacing: 0.043em;
  }
}
