@import "../../../base/variables";

.reviews__card-author-name {
  margin-bottom: 8px;
  font-weight: $weight-500;
  font-size: $size-35;
  line-height: 122%;
}
@media (max-width: 1024px) {
  .reviews__card-author-name {
  }
}

@media (max-width: 768px) {
  .reviews__card-author-name {
    font-size: $size-23;
  }
}

@media (max-width: 360px) {
  .reviews__card-author-name {
    margin-bottom: 8px;
    letter-spacing: 0.035em;
    line-height: 120%;
  }
}
