@import "../../../base/variables";

.reviews__card-text {
  position: relative;
  left: -1px;
  font-weight: $weight-700;
  font-size: $size-23;
  line-height: 142%;
}

@media (max-width: 1024px) {
  .reviews__card-text {
    left: -2px;
  }
}

@media (max-width: 768px) {
  .reviews__card-text {
    font-size: $size-20;
  }
}

@media (max-width: 550px) {
  .reviews__card-text {
    font-size: $size-17;
  }
}

@media (max-width: 360px) {
  .reviews__card-text {
    top: -4px;
    font-size: $size-16;
  }
}
