@import "../../../base/variables";

.reviews__card-text {
  font-size: $size-23;
  font-weight: $weight-700;
  line-height: 122%;
}

@media (max-width: 768px) {
  .reviews__card-text {
    font-size: $size-20;
  }
}

@media (max-width: 550px) {
  .reviews__card-text {
    font-size: $size-17;
  }
}

@media (max-width: 360px) {
  .reviews__card-text {
    font-size: $size-16;
    line-height: 144%;
  }
}
