@import "../../../base/variables";

.reviews__paragraph {
  @include regular-text;

  position: relative;
  top: -14px;
  margin-bottom: 95px;
  text-align: center;
  color: $gray-300;
}

@media (max-width: 1024px) {
  .reviews__paragraph {
    margin-bottom: 98px;
  }
}

@media (max-width: 360px) {
  .reviews__paragraph {
    margin-bottom: 50px;
  }
}
