@import "../../../base/variables";

.reviews__paragraph {
  max-width: 400px;
  margin: 0 auto 99px;
  text-align: center;
  color: $gray-300;
  @include regular-text;
}

@media (max-width: 768px) {
  .reviews__paragraph {
    margin: 0 auto 50px;
  }
}

@media (max-width: 550px) {
  .reviews__paragraph {
    font-size: $size-16;
  }
}

