@import "../../../base/variables";

.reviews__paragraph {
  @include regular-text;
  margin-bottom: 99px;
  text-align: center;
  color: $gray-300;
}

@media (max-width: 768px) {
  .reviews__paragraph {
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .reviews__paragraph {
    font-size: $size-16;
  }
}

