@import "../../../base/variables";

.histories__card-paragraph {
  position: relative;
  left: -2px;
  top: 3px;
  z-index: 5;
  max-width: 560px;
  padding-bottom: 40px;
  font-size: $size-20;
  line-height: 142%;
}
@media (max-width: 1024px) {
  .histories__card-paragraph {
    top: 1px;
    left: 1px;
    padding-bottom: 41px;
  }
}

@media (max-width: 768px) {
  .histories__card-paragraph {
    font-size: $size-16;
  }
}

@media (max-width: 550px) {
  .histories__card-paragraph {
    padding: 0 0 35px;
  }
}
@media (max-width: 360px) {
  .histories__card-paragraph {
    top: -1px;
    padding: 0 0 32px;
  }
}
