@import "../../base/variables";

.histories {
  padding-top: 143px;
}

@media (max-width: 1024px) {
  .histories {
    padding-top: 140px;
  }
}

@media (max-width: 768px) {
  .histories {
    padding-top: 75px;
  }
}

@media (max-width: 550px) {
  .histories {
    margin-bottom: 55px;
    padding-top: 1px;
  }
}
