:root {
  /* Colors */
  --black: #1b1f2b;
  --white: #ffffff;
  --orange-200: #efa501;
  --orange-100: #f8e6be;
  --green-400: #286562;
  --green-300: #3b7e7b;
  --green-200: #627f7e;
  --green-100: #e0f0e5;
  --gray-300: #a6a6a6;
  --gray-200: #d9dfdb;
  --gray-100: #f1f3f2;
  --beige-200: #f4f0e9;
  --beige-100: #f9f7f4;

  /* Fonts */
  --roboto: "Roboto", sans-serif;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;

  /* Sizes */
  --size-16: 16px;
  --size-17: 17px;
  --size-20: 20px;
  --size-23: 23px;
  --size-34: 34px;
  --size-35: 35px;
  --size-59: 59px;
}

body {
  background-color: var(--beige-100);
  color: var(--black);
  font-family: var(--roboto);
  font-weight: var(--weight-400);
}

/* Header */

.header {
  background-color: transparent;
  align-items: center;
  padding: 20px 0;
  height: 88px;
}

.header_content {
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 142%;
  font-size: var(--size-20);
}

.logo {
  padding-top: 5px;
}

.container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_nav_list {
  display: flex;
  gap: 50px;
}

.header_nav_list_item_link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header_number_link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
/* IntroSection */

.intro_section {
  background-image: url("./src/images/intro-section/header-img.png");
  height: 831px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}

.intro {
  padding: 119px 0;
}

.intro__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 768px;
  align-items: center;
}

.intro__heading {
  font-weight: var(--weight-700);
  font-size: 96px;
  line-height: 109%;
  text-align: center;
  color: var(--white);
  letter-spacing: 0.019em;
  position: relative;
  top: -3px;
}

.intro__description {
  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 134%;
  text-align: center;
  color: var(--white);
  max-width: 562px;
}

.intro__btn {
  font-weight: var(--weight-400);
  font-size: var(--size-17);
  line-height: 142%;
  letter-spacing: -0.01em;
  color: var(--black);

  border-radius: 10px;
  cursor: pointer;
  width: 118px;
  height: 34px;
  background: var(--white);
  border: none;
  transition: 0.3s ease;
}

.intro__btn:hover {
  background-color: var(--orange-200);
}

.intro__btn:active {
  background: var(--orange-100);
}

/* Choose Your Tour Section */

.choose_your_tour {
  padding: 135px 0;
}

.choose_your_tour__content-heading {
  font-weight: var(--weight-700);
  font-size: 59px;
  line-height: 117%;
  text-align: center;
  margin-bottom: 35px;
}

.choose_your_tour__content-nav {
  margin-bottom: 100px;
}

.choose_your_tour__content-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.choose_your_tour__content-list-item-link {
  font-weight: var(--weight-700);
  font-size: var(--size-23);
  line-height: 133%;
}

.choose_your_tour__content-list-item-link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.choose_your_tour__content-list-item-link:active {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: var(--orange-200);
}

.choose_your_tour__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px 30px;
}

.choose_your_tour__card {
  border-radius: 50px;
  padding: 50px;
  width: 100%;
  min-height: 531px;
  position: relative;
  margin-top: 5px;
  transition: 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.choose_your_tour__card::before {
  border-radius: 50px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.choose_your_tour__card:hover .choose_your_tour__card-img {
  transform: scale(1.2);
}

.choose_your_tour__card-img {
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
  transition: all 0.3s ease;
}

.choose_your_tour__card-content {
  width: 270px;
  height: 100%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choose_your_tour__card-text {
  width: 200px;
}

.choose_your_tour__card-heading {
  font-weight: var(--weight-500);
  font-size: var(--size-35);
  line-height: 124%;
}

.choose_your_tour__card-price {
  font-weight: var(--weight-400);
  font-size: var(--size-17);
  line-height: 337%;
  letter-spacing: -0.01em;
}

.choose_your_tour__card-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: absolute;
  border-radius: 50px;
  bottom: 1.9em;
  left: 1.2em;
  width: 199px;
  height: 42px;
  padding: 7px 20px;
  background-color: transparent;
  text-align: center;
  border: none;
  color: var(--white);
  font-weight: var(--weight-700);
  font-size: var(--size-23);
  line-height: 122%;
  transition: 0.3s ease;
}

.choose_your_tour__card:hover .choose_your_tour__card-button {
  background-color: var(--green-400);
}

.choose_your_tour__card:active .choose_your_tour__card-button {
  background-color: var(--orange-200);
}

.choose_your_tour__card-button img {
  margin-left: 9px;
}

/* Take Your Tour Section */

.take_your_tour__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.take_your_tour__text {
  max-width: 460px;
}

.take_your_tour__paragraph {
  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 137%;
  text-align: center;
  color: var(--gray-300);
  margin-bottom: 100px;
}

.take_your_tour__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 34px 30px;

  width: 100%;
  padding: 69px;
  background: var(--white);
  border-radius: 50px;

  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
}

.take_your_tour__form-label {
  display: block;
  margin-bottom: 7px;
  line-height: 142%;
}

.take_your_tour__form__input-name {
  border: 1px solid var(--beige-200);
  border-radius: 10px;
  padding: 18px;
  width: 100%;
  height: 68px;
  background: var(--beige-100);
}

.take_your_tour__form__input-name:hover {
  border: 1px solid var(--beige-200);
  background: var(--beige-200);
}

.take_your_tour__form__input-name:focus {
  border: 1px solid var(--gray-300);
  background: var(--beige-200);
}

.take_your_tour__form-select {
  border: 1px solid var(--beige-200);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  height: 68px;

  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
  color: var(--gray-300);
  background-color: var(--beige-100);

  background-image: url("./src/images/icons/ic-dropdown.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.take_your_tour__form-select:hover {
  border: 1px solid var(--beige-200);
  background: var(--beige-200);
  cursor: pointer;

  background-image: url("./src/images/icons/ic-dropdown.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
}

input[type="date"] {
  font-family: var(--font-family);
  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
  letter-spacing: -0.03em;
  color: var(--gray-300);
  text-transform: uppercase;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.take_your_tour__form__textarea {
  grid-column-start: 1;
  grid-column-end: 3;
}

.take_your_tour__form-textarea-label {
  display: block;
  margin-bottom: 8px;
}

.take_your_tour__form-textarea-input {
  display: block;
  background: var(--beige-100);
  border: 1px solid var(--beige-200);
  border-radius: 10px;
  padding: 20px;
  height: 152px;
  width: 100%;
  resize: none;
}

.take_your_tour__form-textarea-input:hover {
  border: 1px solid var(--beige-200);
  background: var(--beige-200);
}

.take_your_tour__form-textarea-input:focus {
  border: 1px solid var(--gray-300);
  background: var(--beige-200);
}

.take_your_tour__form-radio-btns {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  top: -3px;
}

.take_your_tour__form-radio-label {
  display: block;
  margin-bottom: 9px;
}

.take_your_tour__form-radio-wrapper {
  display: flex;
  gap: 31px;
}

.take_your_tour__form-radio {
  display: block;
  transform: scale(2);
  margin-right: -13px;
  margin-left: 5px;
}

.take_your_tour__form-checkbox-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  top: -7px;
}

.take_your_tour__form-checkbox {
  transform: scale(2);
  margin-left: 5px;
  margin-right: 21px;
}
.take_your_tour__form-checkbox-label {
  font-weight: var(--weight-400);
  font-size: var(--size-17);
  letter-spacing: -0.01em;
  color: var(--gray-300);
}

.take_your_tour__form-checkbox-link {
  color: var(--black);
}

.take_your_tour__form-checkbox-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.take_your_tour__form-checkbox-link:active {
  color: var(--green-400);
}

.take_your_tour__form-btns {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  gap: 30px;
  position: relative;
  top: -9px;
}

.take_your_tour__form-btns-submit {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  background: var(--green-400);
  width: 235px;
  height: 58px;

  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
  color: var(--white);
  cursor: pointer;
}

.take_your_tour__form-btns-reset {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  width: 235px;
  height: 58px;

  background: var(--green-100);

  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
  color: var(--green-400);
  cursor: pointer;
}

.take_your_tour__form-btns-submit:hover {
  background: var(--green-300);
}

.take_your_tour__form-btns-submit:active {
  background: var(--green-200);
}

.take_your_tour__form-btns-reset:hover {
  background: var(--gray-100);
}

.take_your_tour__form-btns-reset:active {
  background: var(--gray-200);
}

/* Reviews */

.reviews {
  padding: 135px 0;
}

.reviews__content {
}

.reviews__content-heading {
  position: relative;
  top: -5px;
  line-height: 120%;
}

.reviews__content-paragraph {
  position: relative;
  top: -7px;
}

.reviews__cards {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.reviews__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;

  border-radius: 50px;
  padding: 40px;
  width: 570px;
  height: 673px;

  background: var(--beige-200);

  position: relative;
  top: -8px;
}

.reviews__card-text {
  font-weight: var(--weight-700);
  font-size: var(--size-23);
  line-height: 122%;

  letter-spacing: -0.001em;
  position: relative;
  left: -1px;
}

.reviews__card-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__card-author-name {
  font-weight: var(--weight-500);
  font-size: var(--size-35);
  line-height: 122%;
}

.reviews__card-author-names {
  position: relative;
  left: -2px;
}

.reviews__card-author-name {
  margin-bottom: 7px;
}

.reviews__card-author-name-of-tour {
  font-weight: var(--weight-400);
  font-size: var(--size-17);
  line-height: 142%;
  letter-spacing: -0.01em;
  color: var(--gray-300);
}

.reviews__card-author-photo {
  position: relative;
  border-radius: 100px;
  width: 75px;
  height: 75px;
}

.reviews__card-author-photo img {
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

/* Travels Photos */

.travels_photos {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto 135px auto;
  padding: 0 20px;
}

.travels_photos__text {
  position: relative;
  top: -6px;
}

.travels_photos__paragraph {
  position: relative;
  top: -1px;
}

.travels_photos-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.travels_photos-images-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 30px;
}

.travels_photos-images-row:nth-child(1) {
  position: relative;
  top: -8px;
  left: 1px;
}

.travels_photos-images-row:nth-child(2) {
  position: relative;
  top: -12px;
  left: 1px;
}

.travels_photos-images-row:nth-child(3) {
  position: relative;
  top: -16px;
  left: 2px;
}

.travels_photos-images-col img {
  width: 100%;
  height: 301px;
  object-fit: cover;
  border-radius: 50px;
}

/* Travel histories */

.travel_histories {
  margin-bottom: 115px;
}

.travel_histories__heading,
.travel_histories__paragraph {
  position: relative;
  top: -19px;
}

.travel_histories__cards {
  position: relative;
  top: -19px;
  display: flex;
  flex-direction: column;
}

.travel_histories__card {
  position: relative;
  border-radius: 50px;
  width: 100%;
  height: 567px;
  padding: 60px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
  transition: 0.3s ease;

  color: var(--white);
}

.travel_histories__card::before {
  border-radius: 50px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
  transition: 0.3s ease;
}

.travel_histories__card-img {
  display: block;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  transition: all 0.3s ease;
}

.travel_histories__card:hover .travel_histories__card-img {
  transform: scale(1.2);
}

.travel_histories__card-heading {
  font-weight: var(--weight-500);
  font-size: var(--size-35);
  line-height: 122%;
  margin-bottom: 37px;
}

.travel_histories__card-paragraph {
  max-width: 560px;
  padding-bottom: 37px;

  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
}

.travel_histories__card-list {
  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 122%;
}

.travel_histories__card-list-item {
  position: relative;

  left: 29px;
  top: -10px;
  list-style-type: disc;
}

.travel_histories__card-list-item:not(:last-child) {
  margin-bottom: 5px;
}
.travel_histories__card-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.travel_histories__card-links-btn {
  position: relative;
  left: -22px;
  top: 6px;
}

.travel_histories__card:hover .choose_your_tour__card-button {
  background-color: var(--green-400);
}

.travel_histories__card:active .travel_histories__card-links-btn {
  background-color: var(--orange-200);
}

.travel_histories__card-social-media {
  position: relative;
  top: 6px;
  left: 2px;
}

.travel_histories__card-social-media {
  display: flex;
  gap: 35px;

  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
}

.travel_histories__card-social-media-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.travel_histories__card-social-media-link:active {
  color: var(--orange-200);
}

.travel_histories__card:not(:last-child) {
  margin-bottom: 50px;
}

/* Call to Action */

.call_to_action__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.call_to_action__img {
  border-radius: 50px;
  width: 370px;
  height: 370px;
}

.call_to_action__text {
  max-width: 371px;
}

.call_to_action__heading {
  font-weight: var(--weight-500);
  font-size: var(--size-35);
  line-height: 122%;
  color: var(--black);

  margin-bottom: 20px;
}

.call_to_action__paragraph {
  font-family: var(--font-family);
  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
  color: var(--gray-300);
}

.call_to_action__paragraph a {
  color: var(--black);
}

.call_to_action__paragraph a:hover {
  text-decoration: underline;
}

/* Footer */

.footer {
  background: var(--beige-200);
  width: 100%;
  padding: 30px 0;
  margin-top: 135px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content__paragraph {
  font-family: var(--font-family);
  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
  color: var(--gray-300);
}

.footer__content__links {
  display: flex;
}
.footer__content__link {
  font-family: var(--font-family);
  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 142%;
  color: var(--black);

  position: relative;
}

.footer__content__link:not(:last-child) {
  margin-right: 61px;
}

.footer__content__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer__content__link-img {
  position: absolute;

  left: -36px;
}

/* Media 1024px */

@media (max-width: 1024px) {
  .container {
    max-width: 950px;
  }

  /* Header */

  .logo {
    padding-top: 4px;
  }

  .header_nav_list {
    position: relative;
    top: -2px;
    left: -2px;
    gap: 30px;
  }

  .header_number {
    position: relative;
    top: -2px;
    left: -1px;
  }

  /* Intro Section */

  .intro__description {
    position: relative;
    top: -1px;
    left: -1px;
    max-width: 410px;
    line-height: 134%;
  }

  .intro__btn {
    border-radius: 10px;
    padding: 5px 20px;
    width: 118px;
    height: 34px;

    position: relative;
    left: -1px;
  }

  /* ChooseYourTour Section */
  .choose_your_tour__content-heading {
    line-height: 117%;
    position: relative;
    left: -2px;
  }
  .choose_your_tour__content-list-item {
    position: relative;
    top: 1px;
    left: -2px;
  }

  .choose_your_tour__content-list-item-link {
    letter-spacing: 0.002em;
  }

  .choose_your_tour__cards {
    grid-template-columns: 1fr 1fr;
    gap: 13px 24px;
  }

  .choose_your_tour__card {
    width: 102%;
    position: relative;
    left: -6px;
    top: 1px;
  }

  .choose_your_tour__card-text {
    width: 350px;
  }

  .choose_your_tour__card-heading {
    line-height: 113%;
  }

  .choose_your_tour__card-button {
    bottom: 1.95em;
  }

  .choose_your_tour__card-button img {
    position: relative;
    left: 5px;
  }

  /* TakeYourTour Section */

  .take_your_tour__form {
    padding: 60px 55px;
    gap: 33px 20px;
  }

  .take_your_tour__form-select {
    width: 100%;
  }

  .take_your_tour__form-select {
    background-position: calc(100% - 21px) calc(1em + 1px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
  }

  .take_your_tour__form-radio-label {
    position: relative;
    top: 3px;

    margin-bottom: 13px;
  }

  .take_your_tour__form-radio-wrapper {
    gap: 32px;
  }

  .take_your_tour__form-checkbox {
    margin-left: 6px;
    margin-right: 13px;
  }

  /* Reviews */

  .reviews__content-heading {
    line-height: 120%;
  }

  .reviews__cards {
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  .reviews__card {
    height: 841px;
    width: 450px;
    padding: 40px 36px;
  }

  .reviews__card-text {
    position: relative;
    left: -2px;
    overflow: hidden;
  }
  .reviews__card-author-name {
    position: relative;
    left: -1px;
  }

  .reviews__card-author-photo img {
    left: 1px;
  }

  /* Travel Photos */

  .travels_photos-images-col:nth-child(1) img {
    width: 102%;
    position: relative;
    left: -2px;
  }

  .travels_photos-images-col:nth-child(3) img {
    width: 102%;
    position: relative;
    left: -5px;
  }
  .travels_photos-images-col:nth-child(4) img {
    width: 103%;
    position: relative;
    left: -9px;
  }

  .travels_photos-images-row:nth-child(2)
    .travels_photos-images-col:nth-child(1)
    img {
    width: 103%;
    position: relative;
    left: -2px;
  }

  .travels_photos-images-row:nth-child(2)
    .travels_photos-images-col:nth-child(3)
    img {
    width: 103%;
    position: relative;
    left: -2px;
  }

  .travels_photos-images-row:nth-child(2)
    .travels_photos-images-col:nth-child(4)
    img {
    width: 103%;
    position: relative;
    left: -6px;
  }

  .travels_photos-images-row:nth-child(2)
    .travels_photos-images-col:nth-child(5)
    img {
    width: 103%;
    position: relative;
    left: -8px;
  }

  .travels_photos-images-col:nth-child(6) img {
    width: 103%;
    position: relative;
    left: -3px;
  }

  .travels_photos-images-row:nth-child(1)
    .travels_photos-images-col:nth-child(2) {
    display: none;
  }

  .travels_photos-images-row:nth-child(2)
    .travels_photos-images-col:nth-child(2) {
    display: none;
  }

  .travels_photos-images-row:nth-child(3)
    .travels_photos-images-col:nth-child(4) {
    display: none;
  }

  .travels_photos-images-row:nth-child(3)
    .travels_photos-images-col:nth-child(2)
    img {
    width: 102%;
    position: relative;
    left: -6px;
  }

  .travels_photos-images-row:nth-child(3)
    .travels_photos-images-col:nth-child(3)
    img {
    width: 102%;
    position: relative;
    left: -9px;
  }

  /* Travels Histories */

  .travel_histories__card {
    left: -3px;
    width: 101%;
  }

  .travel_histories__card-social-media {
    position: relative;
    left: -5px;
  }

  /* Footer */

  .footer__content__paragraph {
    position: relative;
    left: -4px;
  }

  .footer__content__link:not(:last-child) {
    margin-right: 60px;
  }

  .footer__content__link:nth-child(3) {
    position: relative;
    left: 3px;
  }

  .footer__content__link:nth-child(2) {
    position: relative;
    left: 1px;
  }
}

@media (max-width: 360px) {
  /* Container */
  .container {
    max-width: 360px;
  }

  /* Header */

  .header {
    margin-bottom: 52px;
  }

  .header_nav {
    display: none;
  }

  .logo {
    width: 132px;
    height: 22px;
    position: relative;
  }

  .logo_img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

    width: 132px;
    height: 22px;
  }

  .header_number {
    position: relative;
    top: 0;
  }

  .header_number_link {
    font-size: var(--size-16);
  }

  .intro_section {
    height: 480px;
  }
  .intro {
    padding: 0;
  }

  .intro__content {
    gap: 0;
  }

  .intro__heading {
    font-size: var(--size-34);
    line-height: 112%;
    letter-spacing: 0.02em;
    margin-bottom: 34px;

    position: relative;
    top: -7px;
    left: -2px;
  }

  .intro__description {
    font-size: var(--size-16);
    line-height: 142%;
    max-width: 310px;
    margin-bottom: 40px;
  }

  .intro__btn {
    padding: 5px 15px;
    width: 114px;
    height: 34px;
    letter-spacing: -0.03em;
    position: relative;
    top: -2px;
  }

  /* Choose your tour section */

  .choose_your_tour {
    padding: 76px 0 75px 0;
  }

  .choose_your_tour__content-heading {
    font-size: var(--size-34);
    line-height: 112%;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }

  .choose_your_tour__content-list {
    flex-wrap: wrap;
    gap: 10px;
  }

  .choose_your_tour__content-list-item {
    left: -1px;
    top: 0px;
  }

  .choose_your_tour__content-list-item-link {
    font-size: var(--size-16);
    line-height: 142%;
  }

  .choose_your_tour__content-list-item-link:active {
    font-size: var(--size-16);
    line-height: 142%;
    text-underline-offset: 4px;
  }
  .choose_your_tour__content-nav {
    margin-bottom: 45px;
  }

  .choose_your_tour__card-content {
    width: 268px;
  }

  .choose_your_tour__cards {
    grid-template-columns: 1fr;
    gap: 13px;
  }

  .choose_your_tour__card {
    border-radius: 20px;
    padding: 25px;
    width: 318px;
    min-height: 318px;

    left: 0;
    top: 0;
  }

  .choose_your_tour__card::before {
    border-radius: 20px;
  }

  .choose_your_tour__card-img {
    border-radius: 20px;
  }

  .choose_your_tour__card-heading {
    font-size: var(--size-23);
    line-height: 120%;
    letter-spacing: 0.04em;
    margin-bottom: 14px;
  }

  .choose_your_tour__card-price,
  .choose_your_tour__card-button {
    font-size: var(--size-16);
    line-height: 142%;
  }

  .choose_your_tour__card-button {
    padding: 0;
    bottom: 1.07em;

    left: 4px;
  }

  .choose_your_tour__card-button img {
    left: -35px;
  }

  /* Take your tour */

  .take_your_tour__paragraph {
    font-size: var(--size-16);
    line-height: 142%;
    margin-bottom: 31px;
    position: relative;
    top: -9px;
  }

  .take_your_tour__form {
    display: flex;
    flex-direction: column;

    gap: 33px;

    border-radius: 30px;
    padding: 20px 20px 40px 20px;
    width: 318px;
    height: 1110px;
  }

  .take_your_tour__form-label {
    font-size: var(--size-16);
    line-height: 142%;
    position: relative;
    left: -1px;
  }

  .take_your_tour__form__input-name,
  .take_your_tour__form-select {
    font-size: var(--size-16);
    line-height: 142%;

    border-radius: 10px;
    padding: 8px;
    width: 278px;
    height: 43px;
  }
  .take_your_tour__form-textarea-label,
  .take_your_tour__form-radio-label {
    font-size: var(--size-16);
    line-height: 142%;
  }

  .label_direction,
  .label_phone {
    position: relative;
    top: -2px;
  }

  .input_phone {
    position: relative;
    top: -2px;
  }

  .label_date {
    position: relative;
    top: -5px;
  }

  input[type="date"] {
    font-size: var(--size-16);
    line-height: 142%;
    color: var(--gray-300);

    position: relative;
    top: -3px;
    left: -2px;
  }

  .take_your_tour__form-select {
    background-position: calc(103% - 19px) calc(1em + -8px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
  }

  .take_your_tour__form__textarea {
    position: relative;
    top: -7px;
    left: -1px;
  }

  .take_your_tour__form-textarea-input {
    border-radius: 10px;
    padding: 10px;
    width: 278px;
    height: 132px;
  }

  .take_your_tour__form-radio-btns {
    left: -1px;
    top: -14px;
  }

  .take_your_tour__form-radio-wrapper span {
    font-size: var(--size-16);
    line-height: 142%;
    position: relative;
    top: -1px;
  }
  .take_your_tour__form-radio {
    display: block;
    transform: scale(1.6);
    margin-right: -20px;
    margin-left: 4px;
    position: relative;
    top: -2px;
  }

  .take_your_tour__form-checkbox-wrapper {
    top: -16px;
    display: flex;
    align-items: flex-start;
  }

  .take_your_tour__form-checkbox {
    transform: scale(1.6);
    margin-left: 2px;
    margin-right: 16px;
  }
  .take_your_tour__form-checkbox-label {
    display: block;
    font-size: var(--size-16);
    line-height: 142%;
    width: 278px;
    letter-spacing: -0.01em;

    position: relative;
    top: -2px;
  }

  .take_your_tour__form-btns {
    gap: 10px;
  }

  .take_your_tour__form-btns-submit,
  .take_your_tour__form-btns-reset {
    font-size: var(--size-16);
    line-height: 142%;

    border-radius: 10px;
    padding: 0;
    width: 133px;
    height: 47px;
    position: relative;
    top: -11px;
  }

  /* Reviews */

  .reviews {
    padding: 81px 0;
  }

  .reviews__content-heading {
    margin-bottom: 24px;
  }

  .reviews__content-paragraph {
    margin-bottom: 49px;
  }

  .reviews__card {
    border-radius: 20px;
    padding: 22px;
    width: fit-content;
    height: 592px;
    gap: 0;

    height: 408px;
  }

  .reviews__card:nth-child(2) {
    height: 592px;
  }

  .reviews__cards {
    flex-direction: column;
    gap: 18px;
  }

  .reviews__card-text {
    font-size: var(--size-16);
    line-height: 144%;
    left: -2px;
    top: -4px;
  }
  .reviews__card-author-names {
    top: 10px;
  }

  .reviews__card-author-name {
    font-size: var(--size-23);
    line-height: 120%;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
  }

  .reviews__card-author-name-of-tour {
    font-size: var(--size-16);
    line-height: 142%;
    letter-spacing: -0.01em;
  }

  /* Travels Photos */

  .travels_photos {
    margin: 0 auto 75px auto;
  }

  .travels_photos__heading {
    margin-bottom: 20px;
    position: relative;
    top: -9px;
  }

  .travels_photos__paragraph {
    margin-bottom: 42px;
  }

  .travels_photos-images {
    gap: 18px;
  }

  .travels_photos-images-col:nth-child(3) img {
    display: none;
  }

  .travels_photos-images-row:first-child
    .travels_photos-images-col:nth-child(1)
    img {
    left: 8px;
  }

  .travels_photos-images-row:first-child
    .travels_photos-images-col:nth-child(4)
    img {
    left: -12px;
  }

  .travels_photos-images-row:first-child
    .travels_photos-images-col:nth-child(1)
    img,
  .travels_photos-images-row:first-child
    .travels_photos-images-col:nth-child(4)
    img,
  .travels_photos-images-row:last-child
    .travels_photos-images-col:nth-child(1)
    img,
  .travels_photos-images-row:last-child
    .travels_photos-images-col:nth-child(2)
    img {
    border-radius: 20px;
    width: 150px;
    height: 110px;
  }

  .travels_photos-images-row:nth-child(2) .travels_photos-images-col img {
    border-radius: 20px;
    width: 99px;
    height: 110px;
  }

  .travels_photos-images-row:nth-child(2)
    .travels_photos-images-col:nth-child(4)
    img {
    width: 102%;
    position: relative;
    left: -7px;
  }

  .travels_photos-images-row:nth-child(2)
    .travels_photos-images-col:nth-child(5)
    img {
    width: 100%;
    position: relative;
    left: -4px;
  }

  .travels_photos-images-row:first-child {
    gap: 18px;
  }

  .travels_photos-images-row:last-child,
  .travels_photos-images-row:nth-child(2) {
    gap: 9px;
  }

  .travels_photos-images-row:last-child
    .travels_photos-images-col:nth-child(1)
    img {
    left: -1px;
    width: 101%;
  }

  .travels_photos-images-row:last-child
    .travels_photos-images-col:nth-child(2)
    img {
    left: 3px;
    width: 101%;
  }

  /* Travel Histories */

  .travel_histories {
    margin-bottom: 55px;
  }

  .travel_histories__heading {
    line-height: 112%;
    letter-spacing: 0.02em;
    margin-bottom: 9px;
  }

  .travel_histories__paragraph {
    line-height: 142%;
    text-align: center;
    margin-bottom: 61px;
  }

  .travel_histories__cards {
    gap: 20px;
  }

  .travel_histories__card {
    border-radius: 20px;
    width: 318px;
    height: 455px;
    padding: 31px;

    left: 0;

    overflow: hidden;
  }

  .travel_histories__card::before {
    border-radius: 20px;
  }

  .travel_histories__card:not(:last-child) {
    margin-bottom: 0;
  }

  .travel_histories__card-heading {
    font-size: var(--size-23);
    line-height: 120%;
    letter-spacing: 0.04em;
    margin: 0 0 20px 0;
    width: 120px;
  }

  .travel_histories__card-paragraph,
  .travel_histories__card-list {
    font-size: var(--size-16);
    line-height: 142%;
  }

  .travel_histories__card-paragraph {
    padding: 0 0 35px 0;
  }
  .travel_histories__card-list-item {
    left: 24px;
  }

  .travel_histories__card-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .travel_histories__card-links-btn {
    top: 8px;
    left: -23px;
  }

  .travel_histories__card-img {
    border-radius: 20px;
    width: 318px;
    height: 455px;
    object-fit: cover;
  }
  .travel_histories__card-social-media {
    display: none;
  }

  /* Call to action section  */

  .call_to_action__content {
    flex-direction: column;
  }

  .call_to_action__img {
    border-radius: 20px;
    width: 130px;
    height: 133px;
  }

  .call_to_action__text {
    text-align: center;
  }

  .call_to_action__heading {
    font-weight: var(--weight-700);
    font-size: var(--size-23);
    line-height: 120%;
    letter-spacing: 0.04em;

    margin-bottom: 20px;
  }

  .call_to_action__paragraph {
    font-weight: var(--weight-400);
    font-size: var(--size-16);
    line-height: 142%;
    width: 312px;
    position: relative;
    left: 2px;
    top: 2px;
  }

  .footer {
    margin-top: 75px;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__content__paragraph {
    font-size: var(--size-16);
    line-height: 142%;
    left: -1px;
    top: -7px;
  }

  .footer__content__link:not(:last-child) {
    margin-right: 41px;
  }
  .footer__content__link,
  .footer__content__link:nth-child(2),
  .footer__content__link:last-child {
    font-size: var(--size-16);
    line-height: 142%;
    left: 12px;
    top: 1px;
  }

  .footer__content__link-img {
    left: -27px;
    top: -2px;
  }
}
