:root {
  /* Colors */
  --black: #1b1f2b;
  --white: #ffffff;
  --orange-200: #efa501;
  --orange-100: #f8e6be;
  --green-400: #286562;
  --green-300: #3b7e7b;
  --green-200: #627f7e;
  --green-100: #e0f0e5;
  --gray-300: #a6a6a6;
  --gray-200: #d9dfdb;
  --gray-100: #f1f3f2;
  --beige-200: #f4f0e9;
  --beige-100: #f9f7f4;

  /* Fonts */
  --roboto: "Roboto", sans-serif;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;

  /* Sizes */
  --size-17: 17px;
  --size-20: 20px;
  --size-23: 23px;
  --size-35: 35px;
  --size-59: 59px;
}

body {
  background-color: var(--beige-100);
  color: var(--white);
  font-family: var(--roboto);
  font-weight: var(--weight-400);
}

/* Header */

.header {
  background-color: transparent;
  align-items: center;
  padding: 20px 0;
  height: 88px;
}

.header_content {
  max-width: 1168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 142%;
  font-size: var(--size-20);
}

.logo {
  padding-top: 5px;
}

.container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_nav_list {
  display: flex;
  gap: 50px;
}

.header_nav_list_item_link:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header_number_link:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
}
/* IntroSection */

.intro_section {
  background-image: url("./src/images/intro-section/header-img.png");
  height: 831px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  padding: 119px 0;
}

.intro__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 768px;
  align-items: center;
}

.intro__heading {
  font-weight: var(--weight-700);
  font-size: 96px;
  line-height: 108%;
  text-align: center;
  color: var(--white);
  letter-spacing: 0.019em;
}

.intro__description {
  font-weight: var(--weight-400);
  font-size: var(--size-20);
  line-height: 144%;
  text-align: center;
  color: var(--white);
  max-width: 562px;
}

.intro__btn {
  font-weight: var(--weight-400);
  font-size: var(--size-17);
  line-height: 142%;
  letter-spacing: -0.01em;
  color: var(--black);

  border-radius: 10px;
  cursor: pointer;
  width: 118px;
  height: 34px;
  background: var(--white);
  border: none;
  transition: 0.3s ease;
}

.intro__btn:hover{
  background-color: var(--orange-200);
}

.intro__btn:active{
  background: var(--orange-100);
}
