@import '../../../base/variables';
.take-tour__form-checkbox-link {
  position: relative;
  color: $black;
  &::after {
    position: absolute;
    left: 0;
    bottom: 2px;
    display: block;
    width: 0;
    height: 1px;
    background-color: $black;
    content: "";
    transition: width 0.3s ease;
  }
  &:hover:after{
    width: 100%;
  }
  &:active {
    color: $green-400;
  }
  &:active::after {
    background-color: $green-400;
  }
}
@media (hover: none){
  .take-tour__form-checkbox-link{
    &::after{
      transition: none;
      width: 0;
    }
    &:hover:after{
      width: 0;
    }
    &:active {
      color: $green-400;
    }
  }
}