@import "../../../base/variables";

.header__heading {
  @include h1;
}

@media (max-width: 768px) {
  .header__heading {
    font-size: $size-40;
  }
}

@media (max-width: 360px) {
  .header__heading {
    margin-bottom: 40px;
    font-size: $size-34;
    line-height: 112%;
  }
}
