@import "../../../base/variables";

.header__heading {
  text-align: center;
  font-size: 96px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: $white;
}

@media (max-width: 768px) {
  .header__heading {
    font-size: $size-40;
  }
}

@media (max-width: 360px) {
  .header__heading {
    position: relative;
    top: 2px;
    left: 0px;
    margin-bottom: 41px;
    line-height: 112%;
    font-size: $size-34;
  }
}
