@import "../../../base/variables";

.header__content {
  @include regular-text;
  position: absolute;
  width: 100%;
  padding: 28px 0;
}

@media (max-width: 1024px){
  .header__content{
    padding: 29px 0;
  }
}


@media (max-width: 360px){
  .header__content{
    padding: 33px 0;
  }
}