.histories__card-links {
  position: relative;
  z-index: 5;
  left: -4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .histories__card-links {
    left: 0;
    top: 1px;
  }
}
