@import "../../base/variables";

.take-tour {
  padding-top: 136px;
}

@media (max-width: 768px) {
  .take-tour {
    padding-top: 75px;
  }
}

@media (max-width: 360px) {
  .take-tour {
    padding-top: 74px;
  }
}
