@import "../../../base/variables";

.reviews__heading {
  @include h2;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .reviews__heading {
    margin-bottom: 31px;
  }
}

@media (max-width: 360px) {
  .reviews__heading {
    margin-bottom: 26px;
  }
}
