@import "../../../base/variables";

.reviews__heading {
  max-width: 530px;
  margin: 0 auto 29px;
  @include h2;
}

@media (max-width: 768px) {
  .reviews__heading {
    font-size: $size-35;
  }
}

@media (max-width: 360px) {
  .reviews__heading {
    margin: 0 auto 21px;
    line-height: 109%;
  }
}
