@import "../../../base/variables";

.reviews__heading {
  position: relative;
  top: -6px;
  @include h2;
}

@media (max-width: 1024px) {
  .reviews__heading {
    top: -7px;
    margin-bottom: 37px;
  }
}

@media (max-width: 360px) {
  .reviews__heading {
    margin-bottom: 26px;
  }
}
