.take-tour__form-radio-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.take-tour__form-radio-input:checked + .take-tour__form-radio-label:before {
  background: url("../../images/take_tour/radio-cheked.svg") 0 0 no-repeat;
}

@media (max-width: 550px) {
  .take-tour__form-radio-input:checked + .take-tour__form-radio-label:before {
    background: url("../../images/take_tour/radio-cheked-mobile.svg") 0 0
      no-repeat;
  }
}
