@import "../../../base/variables";

.choose-tour__heading {
  margin-bottom: 37px;
  font-weight: $weight-700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
}

@media (max-width: 768px) {
  .choose-tour__heading {
    font-size: $size-35;
  }
}

@media (max-width: 360px) {
  .choose-tour__heading {
    margin-bottom: 32px;
    font-size: $size-34;
    letter-spacing: 0.02em;
  }
}
