@import "../../../base/variables";

.choose-tour__heading {
  @include h2;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .choose-tour__heading {
    font-size: $size-35;
  }
}

@media (max-width: 360px) {
  .choose-tour__heading {
    margin-bottom: 32px;
    font-size: $size-34;
    letter-spacing: 0.02em;
  }
}
