@import "../../../base/variables";

.choose-tour__card-button {
  position: relative;
  left: -28px;
  top: 8px;
  width: 198px;
  height: 42px;
  display: flex;
  border: none;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: $white;
  font-weight: $weight-700;
  font-size: $size-23;
  line-height: 122%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
  .choose-tour__card-button {
    top: 9px;
  }
}

@media (max-width: 768px) {
  .choose-tour__card-button {
    left: -18px;
    width: 150px;
    font-size: $size-17;
  }
}

@media (max-width: 550px) {
  .choose-tour__card-button {
    @include mobile-regular-text;
    left: -22px;
    top: 10px;
    font-weight: $weight-700;
  }
}