@import '../../../base/variables';

.choose-tour__card-button {
  position: absolute;
  bottom: 1.9em;
  left: 1.1em;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 198px;
  height: 42px;
  border-radius: 50px;
  background-color: transparent;
  color: $white;
  font-weight: $weight-700;
  font-size: $size-23;
  line-height: 122%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 1024px) {
  .choose-tour__card-button {
    left: 27px;
    bottom: 44px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .choose-tour__card-button {
    left: 3px;
    width: 150px;
    font-size: $size-17;
  }
}

@media (max-width: 550px) {
  .choose-tour__card-button {
    left: 4px;
    bottom: 1.07em;
    font-size: $size-16;
    line-height: 142%;
  }
}
