@import '../../../base/variables';

.take-your-tour__form-radio-option {
  position: relative;
  display: flex;
  margin-right: 31px;
  cursor: pointer;
}



@media (max-width: 1024px) {
}

@media (min-width: 550px) and (max-width: 768px) {
}
@media (min-width: 361px) and (max-width: 550px) {
}

@media (max-width: 360px) {
  .take-your-tour__form-radio-option {
    margin-right: 30px;
    font-size: $size-16;
    font-weight: 400;
    line-height: 146%;
  }
}
