@import "../../../base/variables";

.footer__link {
  position: relative;
  margin: -2px 0 0 36px;
  color: $black;
  @include regular-text;

  &::after {
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    display: block;
    background-color: $black;
    content: "";
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer__link {
    margin: 0;
    font-size: $size-17;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

@media (max-width: 550px) {
  .footer__link {
    display: flex;
    font-size: $size-16;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

@media (hover: none) {
  .footer__link {
    &::after {
      width: 0;
      transition: none;
    }
    
    &:hover::after {
      width: 0;
    }
  }
}
