@import "../../../base/variables";
.footer__link {
  position: relative;
  font-size: $size-20;
  line-height: 142%;
  &::after {
    position: absolute;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: $black;
    content: "";
    transition: width 0.3s ease;
  }
  &:hover::after {
    width: 100%;
  }
  &:not(:last-child) {
    margin-right: 61px;
  }
  &:last-child {
    position: relative;
    left: 1px;
  }
}
@media (max-width: 1024px) {
  .footer__link:not(:last-child) {
    margin-right: 60px;
  }
  .footer__link:nth-child(3) {
    left: 3px;
  }
  .footer__link:nth-child(2) {
    left: 1px;
  }
}
@media (max-width: 768px) {
  .footer__link {
    font-size: $size-17;
  }
  .footer__link:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 550px) {
  .footer__link:not(:last-child) {
    margin-right: 41px;
  }
  .footer__link,
  .footer__link:nth-child(2),
  .footer__link:last-child {
    left: 12px;
    top: 1px;
    font-size: $size-16;
  }
}

@media (hover: none) {
  .footer__link {
    &::after {
      transition: none;
      width: 0;
    }
    &:hover::after {
      width: 0;
    }
  }
}
