@import "../../../base/variables";

.photos__paragraph {
  @include regular-text;
  margin-bottom: 100px;
  text-align: center;
  color: $gray-300;
}

@media (max-width: 1024px) {
  .photos__paragraph {
    top: -5px;
    margin-bottom: 98px;
  }
}

@media (max-width: 550px) {
  .photos__paragraph {
    margin-bottom: 42px;
  }
}

@media (max-width: 360px) {
  .photos__paragraph {
    margin-bottom: 45px;
  }
}
