.logo {
  display: block;
  width: 182px;
  height: 31px;
  background-image: url("../../../../images/header/logo.svg");
  padding-top: 8px;
}
.logo_black {
  display: block;
  width: 182px;
  height: 31px;
  background-image: url("../../../../images/header/logo_black.svg");
  padding-top: 8px;
}

@media (max-width: 1024px) {
  .logo {
    padding-top: 4px;
  }
  .logo_scroll {
    padding-top: 4px;
  }
}

@media (max-width: 360px) {
  .logo {
    position: relative;
    width: 132px;
    height: 22px;
  }

  .logo_scroll {
    position: relative;
    width: 132px;
    height: 22px;
  }
}
