.contact__text {
  position: relative;
  left: 3px;
  max-width: 371px;
}

@media (max-width: 1024px) {
  .contact__text {
    top: -1px;
  }
}

@media (max-width: 550px) {
  .contact__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .contact__text {
    left: 0;
    top: 0;
  }
}
