.footer__link-img {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
}

.footer__link-img-inst {
  top: 5px;
  left: -5px;
  background-image: url("../../images/icons/inst.png");
}
.footer__link-img-facebook {
  top: 5px;
  left: -12px;
  background-image: url("../../images/icons/fb.png");
}
.footer__link-img-vk {
  top: 5px;
  left: -11px;
  background-image: url("../../images/icons/vk.png");
}

@media (max-width: 768px) {
  .footer__link-img {
  }
}

@media (max-width: 550px) {
  .footer__link-img {
  }
}

@media (max-width: 360px) {
  .footer__link-img {
  }
}
