.footer__link-img {
  position: relative;
  left: 5px;
  top: 6px;
  display: inline-block;
  width: 26px;
  height: 26px;
}

.footer__link-img-inst {
  background-image: url("../../images/icons/inst.png");
}
.footer__link-img-facebook {
  background-image: url("../../images/icons/fb.png");
}
.footer__link-img-vk {
  background-image: url("../../images/icons/vk.png");
}

@media (max-width: 768px) {
  .footer__link-img {
    left: -27px;
  }
}

@media (max-width: 550px) {
  .footer__link-img {
    top: -2px;
  }
}

@media (max-width: 360px) {
  .footer__link-img {
    left: -28px;
    top: -3px;
  }
}
