.logo_black {
  display: block;
  width: 182px;
  height: 31px;
  padding-top: 8px;
  background-image: url("../../../../images/header/logo_black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  .logo_black {
    padding-top: 4px;
  }
}

@media (max-width: 550px) {
  .logo_black {
    position: relative;
    width: 132px;
    height: 22px;
  }
}
