@import "../../../../base/variables";

.choose-tour__button_active {
  color: $orange-200;
  text-decoration: underline;
  text-underline-offset: 10px;
  &::after {
    width: 0 !important;
    transition: none !important;
  }
}

@media (max-width: 550px) {
  .choose-tour__button_active {
    @include mobile-regular-text;
    font-weight: $weight-700;
    text-underline-offset: 5px;
  }
}
