

.take-tour__form-checkbox-wrapper {
  margin-bottom: 2px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.take-tour__form-checkbox-wrapper input[type="checkbox"] {
  display: none;
}

.take-tour__form-checkbox-wrapper label {
  position: relative;
  top: -6px;
  cursor: pointer;
  padding-left: 45px;
  line-height: 18px;
  user-select: none;
}

.take-tour__form-checkbox-wrapper label:before {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../../../../images/take_tour/chekbox-uncheked.svg") 0 0
    no-repeat;
}

.take-tour__form-checkbox-wrapper
  input[type="checkbox"]:checked
  + label:before {
  background: url("../../../../images/take_tour/chekbox-cheked.svg") 0 0
    no-repeat;
}
