.reviews__card-author {
  position: relative;
  left: 1px;
  top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .reviews__card-author {
    top: 2px;
  }
}

@media (max-width: 360px) {
  .reviews__card-author {
    top: 8px;
  }
}
