.take-your-tour__form-radio-wrapper-wrapper {
  display: flex;
  align-items: center;
  gap: 31px;
}

.take-your-tour__form-radio-wrapper input[type="radio"] {
  display: none;
}

.take-your-tour__form-radio-wrapper label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 37px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}

.take-your-tour__form-radio-wrapper label:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0;
  bottom: -4px;
  background: url("../../../../images/take_your_tour/radio-uncheked.svg") 0 0
    no-repeat;
}

.take-your-tour__form-radio-wrapper input[type="radio"]:checked + label:before {
  background: url("../../../../images/take_your_tour/radio-cheked.svg") 0 0
    no-repeat;
}
