@import "./__content/travel-histories__content";
@import "./__heading/travel-histories__heading";
@import "./__paragraph/travel-histories__paragraph";
@import "./__cards/travel-histories__cards";
@import "./__card/travel-histories__card";
@import "./__card-img/travel-histories__card-img";
@import "./__card__heading/travel-histories__card-heading";
@import "./__card-paragraph/travel-histories__card-paragraph";
@import "./__card-list/travel-histories__card-list";
@import "./__card-item/travel-histories__card-item";
@import "./__card-links/travel-histories__card-links";
@import "./__card-links-btn/travel-histories__card-links-btn";
@import "./__card-socials/travel-histories__card-social";
@import "./__card-social-link/travel-histories__card-social-link";

.travel-histories {
  padding-top: 143px;
}

@media (max-width: 1024px) {
  .travel-histories {
    padding-top: 140px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .travel-histories {
    padding-top: 75px;
  }
}

@media (min-width: 361px) and (max-width: 550px) {
  .travel-histories {
    margin-bottom: 55px;
    padding-top: 1px;
  }
}

@media (max-width: 360px) {
  .travel-histories {
    margin-bottom: 55px;
    padding-top: 1px;
  }
}
