@import "../../../base/variables";

.take-tour__paragraph {
  @include regular-text;
  margin-bottom: 100px;
  text-align: center;
  color: $gray-300;
}

@media (max-width: 1024px) {
  .take-tour__paragraph {
    margin-bottom: 99px;
  }
}

@media (max-width: 768px) {
  .take-tour__paragraph {
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .take-tour__paragraph {
    font-size: $size-16;
  }
}

@media (max-width: 360px) {
  .take-tour__paragraph {
    margin-bottom: 40px;
  }
}
