@import "../../../base/variables";

.take-tour__paragraph {
  position: relative;
  top: -4px;
  margin-bottom: 95px;
  font-size: $size-20;
  line-height: 142%;
  text-align: center;
  color: $gray-300;
}

@media (max-width: 1024px) {
  .take-tour__paragraph {
    margin-bottom: 96px;
  }
}

@media (max-width: 768px) {
  .take-tour__paragraph {
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .take-tour__paragraph {
    top: -9px;
    margin-bottom: 31px;
    font-size: $size-16;
  }
}

@media (max-width: 360px) {
  .take-tour__paragraph {
    top: -15px;
    margin-bottom: 26px;
  }
}
