@import "../../../base/variables";

.choose-tour__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .choose-tour__list {
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
    font-size: $size-20;
  }
}

@media (max-width: 360px) {
  .choose-tour__list {
    margin-bottom: 48px;
    gap: 9px 10px;
  }
}
