@import '../../../../../base/variables';

.histories__card_type_img-three::before {
    @include histories-bg-styles;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background:
        linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%),
        url('/images/histories/story photo-3.png');
    transition: transform 0.3s ease;
}

.histories__card_type_img-three:hover::before {
    transform: scale(1.2);
}