.choose-your-tour {
  padding-top: 135px;

  &__heading {
    position: relative;
    top: 2px;
    left: -2px;
    font-weight: $weight-700;
    font-size: 59px;
    line-height: 117%;
    text-align: center;
    margin-bottom: 38px;
  }

  &__nav {
    margin-bottom: 100px;
  }

  &__list {
    position: relative;
    left: -2px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &__link {
    font-weight: $weight-700;
    font-size: $size-23;
    line-height: 133%;

    &:hover,
    &:active,
    &_active {
      text-decoration: underline;
      text-underline-offset: 10px;
    }

    &:active,
    &_active {
      color: $orange-200;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 30px;
  }

  &__card {
    position: relative;
    left: -1px;
    width: 100%;
    min-height: 531px;
    margin-top: 5px;
    padding: 50px;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%
      );
      content: "";
    }

    &:hover &-img {
      transform: scale(1.2);
    }

    &:hover .choose-your-tour__card-button {
      background-color: $green-400;
    }

    &:active .choose-your-tour__card-button {
      background-color: $orange-200;
    }
  }

  &__card-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    border-radius: 50px;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    height: 100%;
    color: $white;
  }

  &__card-text {
    width: 200px;
  }

  &__card-heading {
    font-weight: $weight-500;
    font-size: $size-35;
    line-height: 124%;
  }

  &__card-price {
    font-weight: $weight-400;
    font-size: $size-17;
    line-height: 325%;
    letter-spacing: -0.01em;
  }

  &__card-button {
    position: absolute;
    bottom: 1.9em;
    left: 1.1em;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 198px;
    height: 42px;
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    color: $white;
    font-weight: $weight-700;
    font-size: $size-23;
    line-height: 122%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
  }

  &__card-button img {
    display: block;
    position: relative;
    left: 8px;
  }
}
