@import "../../../base/variables";

.header__nav-link--scroll {
  position: relative;
  color: $black;
  cursor: pointer;
  line-height: 142%;
  text-decoration: none;
  &::after {
    position: absolute;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: $black;
    content: "";
    transition: width 0.3s ease;
  }

  &:hover:after,
  &:focus:after {
    width: 100%;
  }
}
