@import "../../../base/variables";

.histories__card-social {
  display: flex;
  align-self: end;
  gap: 36px;
  font-size: $size-20;
  line-height: 142%;
}

@media (max-width: 1024px) {
  .histories__card-social {
    position: relative;
    bottom: 2px;
  }
}

@media (max-width: 768px) {
  .histories__card-social {
    gap: 20px;
    font-size: $size-16;
  }
}

@media (max-width: 550px) {
  .histories__card-social {
    display: none;
  }
}
