@import "../../../base/variables";

.take-tour__form-radio-btns-label {
  display: block;
  margin: 1px 0 7px;
}

@media (max-width: 1024px) {
  .take-tour__form-radio-btns-label {
    position: relative;
    top: 3px;
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  .take-tour__form-radio-btns-label {
    font-size: $size-16;
  }
}

@media (max-width: 360px) {
  .take-tour__form-radio-btns-label {
    top: 1px;
    margin-bottom: 4px;
  }
}
