@import "../../../base/variables";

.take-tour__form-radio-btns-label {
  display: block;
  margin: -3px 0 8px;
}

@media (max-width: 1024px) {
  .take-tour__form-radio-btns-label {
    margin: 0 0 8px;
  }
}

@media (max-width: 550px) {
  .take-tour__form-radio-btns-label {
    font-size: $size-16;
  }
}
