.footer__link-img_type_telegram {
    top: 5px;
    left: -4px;
    background-image: url("../../images/icons/telegram.png");
}

@media (max-width: 550px) {
    .footer__link-img_type_telegram {
        top: -2px;
    }
}

@media (max-width: 360px) {
    .footer__link-img_type_telegram {
        top: -3px;
        left: -3px;
    }
}