@media (max-width: 550px) {
  .take-tour__form-label_date {
    position: relative;
    top: -5px;
  }
}

@media (max-width: 360px) {
  .take-tour__form-label_date {
    top: -4px;
  }

  .take-tour__form-label_date-two {
    top: -6px;
    margin-bottom: 6px;
  }
}
