.photos__images-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 30px;
}

@media (max-width: 1024px) {
  .photos__images-row {
    gap: 30px 20px;
  }

  .photos__images-row:nth-child(1) .photos__images-col:nth-child(2) {
    display: none;
  }

  .photos__images-row:nth-child(2) .photos__images-col:nth-child(3) {
    display: none;
  }

  .photos__images-row:nth-child(3) .photos__images-col:nth-child(4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .photos__images-row {
    gap: 20px;
  }

  .photos__images-row:nth-child(1) .photos__images-col:nth-child(3) {
    display: none;
  }

  .photos__images-row:nth-child(2) .photos__images-col:nth-child(2) {
    display: none;
  }

  .photos__images-row:nth-child(3) .photos__images-col:nth-child(3) {
    display: none;
  }
}

@media (max-width: 550px) {
  .photos__images-row .photos__images-col .photo__images-col-img {
    height: 110px;
    border-radius: 20px;
  }

  .photos__images-row:first-child {
    gap: 18px;
  }

  .photos__images-row:last-child,
  .photos__images-row:nth-child(2) {
    gap: 10px;
  }

  .photos__images-row:nth-child(1) .photos__images-col:nth-child(3) {
    display: none;
  }

  .photos__images-row:nth-child(2) .photos__images-col:nth-child(2) {
    display: none;
  }

  .photos__images-row:nth-child(3) .photos__images-col:nth-child(3) {
    display: none;
  }
}
