@import "../../../base/variables";

.footer__social-networks {
  @include regular-text;
  color: $gray-300;
}

@media (max-width: 768px) {
  .footer__social-networks {
    font-size: $size-17;
  }
}

@media (max-width: 550px) {
  .footer__social-networks {
    margin-bottom: 8px;
    font-size: $size-16;
  }
}
