@import "../../../base/variables";

.take-tour__form {
  border-radius: 50px;
  background: $white;
  @include regular-text;
}

@media (max-width: 550px) {
  .take-tour__form {
    border-radius: 30px;
    font-size: $size-16;
  }
}
