.histories__heading {
  position: relative;
  top: -18px;
  line-height: 124%;
}

@media (max-width: 1024px) {
  .histories__heading {
    top: -21px;
    margin-bottom: 36px;
  }
}

@media (max-width: 550px) {
  .histories__heading {
    margin-bottom: 9px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 360px) {
  .histories__heading {
    margin-bottom: 24px;
  }
}
