@import "../../../base/variables";

.histories__heading {
  @include h2;
  margin-bottom: 29px;
}

@media (max-width: 1024px) {
  .histories__heading {
    margin-bottom: 30px;
  }
}

@media (max-width: 550px) {
  .histories__heading {
    margin-bottom: 9px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }
}

@media (max-width: 360px) {
  .histories__heading {
    margin-bottom: 24px;
  }
}
