@import "../../../base/variables";

.histories__heading {
  margin-bottom: 29px;
  @include h2;
}

@media (max-width: 1024px) {
  .histories__heading {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .histories__heading {
    font-size: $size-35;
  }
}

@media (max-width: 550px) {
  .histories__heading {
    margin-bottom: 9px;
    line-height: 112%;
  }
}

@media (max-width: 360px) {
  .histories__heading {
    margin-bottom: 21px;
    line-height: 109%;
  }
}
