@import "../../../base/variables";

.take-tour__form-radio-label {
  position: relative;
  margin-right: 0;
  padding-left: 37px;
  display: inline-block;
  line-height: 18px;
  user-select: none;
  cursor: pointer;
  &::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 26px;
    height: 26px;
    display: inline-block;
    content: "";
    background: url("../../images/take_tour/radio-uncheked.svg") 0 0 no-repeat;
  }
}

@media (max-width: 550px) {
  .take-tour__form-radio-label {
    padding-left: 30px;
    font-size: $size-16;
    &::before {
      bottom: -6px;
      background: url("../../images/take_tour/radio-uncheked-mobile.svg") 0 0
        no-repeat;
    }
  }
}
