.take-your-tour {
  padding-top: 135px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    max-width: 460px;
  }

  &__paragraph {
    position: relative;
    top: -4px;
    left: -2px;
    margin-bottom: 96px;
    font-weight: $weight-400;
    font-size: $size-20;
    line-height: 140%;
    text-align: center;
    color: $gray-300;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px 30px;
    width: 100%;
    padding: 69px 72px 69px 69px;
    background: $white;
    border-radius: 50px;
    font-weight: $weight-400;
    font-size: $size-20;
    line-height: 142%;

    &-label {
      display: block;
      margin-bottom: 7px;
      line-height: 142%;
    }

    &-input-name {
      width: 100%;
      height: 68px;
      padding: 19px;
      border: 1px solid $beige-200;
      border-radius: 10px;
      background: $beige-100;

      &:hover {
        border: 1px solid $beige-200;
        background: $beige-200;
      }

      &:focus {
        border: 1px solid $gray-300;
        background: $beige-200;
      }
    }

    &-select {
      width: 500px;
      height: 68px;
      padding: 20px;
      border: 1px solid $beige-200;
      border-radius: 10px;
      background-color: $beige-100;
      color: $gray-300;
      font-weight: $weight-400;
      font-size: $size-20;
      line-height: 142%;
      background-image: url("../../images/icons/ic-dropdown.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 19px) calc(1em + 1px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
      box-sizing: border-box;
      appearance: none;
      transition: 0.3s ease;

      &:hover {
        cursor: pointer;
        border: 1px solid $beige-200;
        background: $beige-200;
        background-image: url("../../images/icons/ic-dropdown.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 19px) calc(1em + 1px),
          calc(100% - 15px) calc(1em + 2px), 100% 0;
      }

      &:focus {
        border: 1px solid $gray-300;
      }
    }

    &-textarea {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &-textarea-label {
      display: block;
      margin-bottom: 8px;
    }

    &-textarea-input {
      display: block;
      width: 100%;
      height: 152px;
      padding: 20px;
      border: 1px solid $beige-200;
      border-radius: 10px;
      background: $beige-100;
      resize: none;

      &:hover {
        border: 1px solid $beige-200;
        background: $beige-200;
      }

      &:focus {
        border: 1px solid $gray-300;
        background: $beige-200;
      }
    }

    &-radio {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }

    &-radio-style {
      position: relative;
      left: -1px;
      width: 26px;
      height: 26px;
      margin-right: 11px;
      border-radius: 50%;
      border: 2px solid $black;
    }

    &-radio-btns {
      grid-column-start: 1;
      grid-column-end: 3;
      position: relative;
      top: -3px;
    }

    &-radio-label {
      display: block;
      margin: 1px 0 8px;
    }

    &-radio-wrapper {
      display: flex;
      align-items: center;
    }

    &-radio-option {
      margin-right: 31px;
    }

    &-checkbox-wrapper {
      grid-column-start: 1;
      grid-column-end: 3;
      position: relative;
      top: -7px;
    }

    &-checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
    }

    &-checkbox-style {
      position: absolute;
      left: -1px;
      top: 2px;
      width: 26px;
      height: 26px;
      margin-right: 11px;
      border-radius: 5px;
      border: 2px solid $black;
    }

    &-checkbox-label {
      padding-left: 45px;
      font-weight: $weight-400;
      font-size: $size-17;
      letter-spacing: -0.01em;
      color: $gray-300;
    }

    &-checkbox-link {
      color: $black;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
      }

      &:active {
        color: $green-400;
      }
    }

    &-btns {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      gap: 30px;
      position: relative;
      top: -9px;
    }

    &-btn--submit {
      width: 235px;
      height: 58px;
      padding: 14px 30px;
      border: none;
      border-radius: 10px;
      background: $green-400;
      color: $white;
      font-weight: $weight-400;
      font-size: $size-20;
      line-height: 142%;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: $green-300;
      }

      &:active {
        background: $green-200;
      }
    }

    &-btn--reset {
      width: 235px;
      height: 58px;
      padding: 14px 30px;
      border: none;
      border-radius: 10px;
      background: $green-100;
      color: $green-400;
      font-weight: $weight-400;
      font-size: $size-20;
      line-height: 142%;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: $gray-100;
      }

      &:active {
        background: $gray-200;
      }
    }
  }

  &__form-select option,
  &__form-select.selected {
    color: $black;
  }

  &__form-radio:checked + &__form-radio-style::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: $black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &__form-checkbox:checked + &__form-checkbox-style::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-image: url("../../images/take_your_tour/chek-desk.svg");
    background-repeat: no-repeat;
    transform: translate(-30%, -25%);
  }
}

input,
textarea {
  transition: all 0.3s ease;
}

input[type="date"] {
  font-family: $font-family;
  font-weight: $weight-400;
  font-size: $size-20;
  line-height: 142%;
  letter-spacing: -0.03em;
  color: $gray-300;
  text-transform: uppercase;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: $black;
}
