@import "../../../base/variables";

.histories__card-list {
  position: relative;
  list-style-type: none;
  @include regular-text;
}

@media (max-width: 768px) {
  .histories__card-list {
    font-size: $size-16;
  }
}
