@import "../../../base/variables";

.histories__card-list {
  @include regular-text;
  position: relative;
  z-index: 5;
  list-style-type: none;
}

@media (max-width: 768px) {
  .histories__card-list {
    font-size: $size-16;
  }
}
