@import "../../../base/variables";

.histories__card-list {
  font-size: $size-20;
  line-height: 142%;
  list-style-type: none;
}

@media (max-width: 768px) {
  .histories__card-list {
    font-size: $size-16;
  }
}
