@import "../../../base/variables";

.take-tour__form-select {
  width: 500px;
  height: 68px;
  padding: 20px 19px;
  border: 1px solid $beige-200;
  border-radius: 10px;
  background-color: $beige-100;
  color: $gray-300;
  font-size: $size-20;
  background-image: url("../../images/icons/dropdown.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 19px) calc(1em + 0px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  box-sizing: border-box;
  appearance: none;
  transition: background-color 0.3s ease, border 0.3s ease;
  &:hover {
    cursor: pointer;
    border: 1px solid $beige-200;
    background-color: $beige-200;
    background-image: url("../../images/icons/dropdown.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) calc(1em + 0px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
  }
  &:focus {
    border: 1px solid $gray-300;
  }
}

.take-tour__form-select option,
.take-tour__form-select.selected {
  color: $black;
}

@media (max-width: 1024px) {
  .take-tour__form-select {
    width: 100%;
    padding: 21px 19px;
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
    &:hover {
      background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    }
  }
}

@media (max-width: 1023px) {
  .take-tour__form-select {
    background-position: calc(100% - 20px) calc(1em + 0px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
    &:hover {
      background-position: calc(100% - 20px) calc(1em + 0px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    }
  }
}

@media (max-width: 768px) {
  .take-tour__form-select {
    background-position: calc(100% - 20px) calc(1em + 3px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
    font-size: $size-16;
    &:hover {
      background-position: calc(100% - 20px) calc(1em + 3px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    }
  }

  .take-tour__form-select:focus {
    border: 1px solid $gray-300;
  }
}

@media (max-width: 550px) {
  .take-tour__form-select {
    padding: 8px;
    width: 278px;
    height: 43px;
    border-radius: 10px;
    background-position: calc(103% - 19px) calc(1em + -8px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
    font-size: $size-16;
    &:hover {
      background-position: calc(103% - 19px) calc(1em + -8px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
      border: 1px solid $gray-300;
    }
  }
}

@media (max-width: 360px) {
  .take-tour__form-select {
    width: 278px;
    height: 43px;
    padding: 9px;
    background-position: calc(103% - 17px) calc(1em + -8px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
    &:hover {
      background-position: calc(103% - 17px) calc(1em + -8px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    }
  }
}
