@import "../../../base/variables";

.header__text {
  max-width: 768px;
  margin: 0 auto;
  padding: 207px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  @include regular-text;
}

@media (max-width: 1024px) {
  .header__text {
    gap: 51px;
  }
}

@media (max-width: 360px) {
  .header__text {
    padding-top: 141px;
    gap: 0;
    font-size: $size-16;
  }
}
