.header__container {
  width: 100%;
  max-width: 1208px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .header__container {
    max-width: 949px;
  }
}
