@import "../../../base/variables";

.take-tour__heading {
  margin-bottom: 30px;
  @include h2;
}

@media (max-width: 768px) {
  .take-tour__heading {
    font-size: $size-35;
  }
}

@media (max-width: 360px) {
  .take-tour__heading {
    margin-bottom: 17px;
  }
}