@import "../../../base/variables";

.header__description {
  max-width: 562px;
  text-align: center;
  color: $white;
}

@media (max-width: 1024px) {
  .header__description {
    max-width: 409px;
    margin-bottom: -1px;
  }
}

@media (max-width: 550px) {
  .header__description {
    max-width: 350px;
  }
}

@media (max-width: 360px) {
  .header__description {
    max-width: 310px;
    margin-bottom: 39px;
  }
}