.histories__card-links-btn {
  position: relative;
  left: -22px;
  top: 11px;
}

@media (max-width: 1024px) {
  .histories__card-links-btn {
    top: 5px;
  }
}

@media (max-width: 550px) {
  .histories__card-links-btn {
    top: 8px;
  }
}

@media (max-width: 360px) {
  .histories__card-links-btn {
    top: 9px;
  }
}
