.histories__card-links-btn {
  top: 7px;
}

@media (max-width: 1024px) {
  .histories__card-links-btn {
    top: 5px;
  }
}

@media (max-width: 550px) {
  .histories__card-links-btn {
    top: 0;
  }
}

@media (max-width: 360px) {
  .histories__card-links-btn {
    top: 8px;
  }
}
