@import "../../../base/variables";

.header__contact-link {
  @include regular-text;

  position: relative;
  cursor: pointer;
  color: $white;
  text-decoration: none;
  &::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    display: block;
    width: 0;
    height: 2px;
    background-color: $white;
    content: "";
    transition: width 0.3s ease;
  }
  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .header__contact-link {
    font-size: $size-16;
  }
}

@media (hover: none) {
  .header__contact-link::after {
    transition: none;
    width: 0;
  }

  .header__contact-link:hover::after,
  .header__contact-link:focus::after {
    width: 0;
  }
}
