@import "../../../base/variables";

.header__nav-link {
  position: relative;
  cursor: pointer;
  line-height: 142%;
  text-decoration: none;
  &::after {
    position: absolute;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: $white;
    content: "";
    transition: width 0.3s ease;
  }
  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

@media (hover: none) {
  .header__nav-link {
    &::after {
      transition: none;
      width: 0;
    }
    &:hover::after,
    &:focus::after {
      width: 0;
    }
  }
}
