@import "../../../base/variables";

.header__nav-link {
  @include regular-text;
  position: relative;
  text-decoration: none;
  color: $white;
  cursor: pointer;
  &::after {
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    display: block;
    background-color: $white;
    content: "";
    transition: width 0.3s ease;
  }
  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .header__nav-link {
    font-size: $size-16;
  }
}

@media (hover: none) {
  .header__nav-link {
    &::after {
      width: 0;
      transition: none;
    }
    &:hover::after,
    &:focus::after {
      width: 0;
    }
  }
}
