@import "../../../base/variables";
@import "./_active/choose-tour__button_active";

.choose-tour__button {
  position: relative;
  border: none;
  background-color: transparent;
  font-weight: $weight-700;
  font-size: $size-23;
  line-height: 122%;
  cursor: pointer;
  &::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    display: block;
    background-color: $black;
    content: "";
    transition: width 0.3s ease;
  }
  &:hover::after {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .choose-tour__button {
    letter-spacing: 0.002em;
  }
}

@media (max-width: 550px) {
  .choose-tour__button {
    @include mobile-regular-text;
    font-weight: $weight-700;
  }
}

@media (hover: none) {
  .choose-tour__button::after {
    width: 0;
    transition: none;
  }
}
