.contact {
  padding-top: 117px;
}

@media (max-width: 1024px) {
  .contact {
    padding-top: 116px;
  }
}

@media (max-width: 768px) {
  .contact {
    padding-top: 75px;
  }
}

@media (max-width: 550px) {
  .contact {
    padding-top: 0;
  }
}
