@import "../../../base/variables";

.reviews__card-author-tour {
  color: $gray-300;
  @include regular-text;
  font-size: $size-17;
  letter-spacing: -0.01em;
}

@media (max-width: 360px) {
  .reviews__card-author-tour {
    margin-top: 7px;
    font-size: $size-16;
  }
}
