@import "../../../base/variables";

.reviews__card-author-tour {
  font-size: $size-17;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: $gray-300;
}

@media (max-width: 360px) {
  .reviews__card-author-tour {
    font-size: $size-16;

    margin-top: 7px;
  }
}
