@import "../../../base/variables";

.histories__card-social-link {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 1px;
    display: block;
    background-color: $white;
    content: "";
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &:active {
    color: $orange-200;
  }
  
  &:active::after {
    background-color: $orange-200;
  }
}


