@import "./__logo/logo.scss";
@import "./__header/intro__header";
@import "./_scroll/intro_scroll";
@import "./__header-content/intro__header-content";
@import "./__nav/intro__nav";
@import "./__nav-list/intro__nav-list";
@import "./__nav-link/intro__nav-link";
@import "./__contact/intro__contact";
@import "./__contact-link/intro__contact-link";
@import "./__content/intro__content";
@import "./__heading/intro__heading";
@import "./__description/intro__description";
@import "./__btn/intro__btn";

.intro {
  width: 100%;
  max-width: 1920px;
  height: 831px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./../../images/intro-section/header-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  box-shadow: 0px 100px 67px -39px rgba(0, 0, 0, 0.2) inset;
}

@media (max-width: 1024px) {
}

@media (min-width: 550px) and (max-width: 768px) {
  .intro {
    height: 630px;
  }
}

@media (min-width: 361px) and (max-width: 550px) {
  .intro {
    height: 700px;
  }
}

@media (max-width: 360px) {
  .intro {
    height: 488px;
  }
}
