@import "../../../base/variables";

.reviews__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;
  min-height: 673px;
  padding: 40px;
  border-radius: 50px;
  background: $beige-200;
}

@media (max-width: 1024px) {
  .reviews__card {
    min-height: 841px;
    width: 450px;
  }
}

@media (max-width: 768px) {
  .reviews__card {
    min-height: 600px;
  }
}

@media (max-width: 550px) {
  .reviews__card {
    width: fit-content;
    height: fit-content;
    min-height: 408px;
    &:nth-child(2) {
      min-height: 592px;
    }
  }
}

@media (max-width: 360px) {
  .reviews__card {
    padding: 19px 22px;
    border-radius: 20px;
    &:nth-child(2) {
      padding: 19px 21px;
    }
  }
}
