@import "../../../base/variables";

.photos__heading {
  @include h2;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .photos__heading {
    font-size: $size-35;
  }
}

@media (max-width: 550px) {
  .photos__heading {
    margin-bottom: 20px;
  }
}

@media (max-width: 360px) {
  .photos__heading {
    margin-bottom: 21px;
    line-height: 109%;
  }
}
