@import '../../../base/variables';

.contact__heading {
  margin-bottom: 20px;
  font-weight: $weight-500;
  font-size: $size-35;
  line-height: 122%;
}

@media (max-width: 1024px) {
  .contact__heading {
    margin-bottom: 21px;
    line-height: 126%;
  }
}

@media (max-width: 768px) {
  .contact__heading {
    text-align: center;
    font-size: $size-23;
  }
}

@media (max-width: 550px) {
  .contact__heading {
    margin-bottom: 19px;
    font-weight: $weight-700;
    line-height: 120%;
    letter-spacing: 0.04em;
  }
}
