@import "../../../base/variables";

.contact__heading {
  @include cards-heading-style;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .contact__heading {
    margin-bottom: 21px;
  }
}

@media (max-width: 768px) {
  .contact__heading {
    text-align: center;
    font-size: $size-23;
  }
}

@media (max-width: 550px) {
  .contact__heading {
    max-width: 327px;
    font-weight: $weight-700;
    letter-spacing: 0.04em;
  }
}
