@import "../../../base/variables";

.take-tour__form-label {
  display: block;
  margin-bottom: 7px;
}

@media (max-width: 1024px) {
  .take-tour__form-label {
    margin-bottom: 6px;
  }
}

@media (max-width: 550px) {
  .take-tour__form-label {
    position: relative;
    left: -1px;
    font-size: $size-16;
  }
}

@media (max-width: 360px) {
  .take-tour__form-label {
    left: 0;
    margin-bottom: 7px;
  }
}
