@media (min-width: 550px) and (max-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* header */

  .intro__nav {
    display: none;
  }

  /* intro section */

  .intro {
    height: 630px;
  }

  .intro__content {
    max-width: 450px;
  }

  .intro__heading {
    font-size: 40px;
  }

  /* choose your tour section */

  .choose-your-tour {
    padding-top: 75px;
  }

  .choose-your-tour__heading {
    font-size: $size-35;
  }

  .choose-your-tour__list {
    display: flex;
    flex-wrap: wrap;
    font-size: $size-20;
  }

  .choose-your-tour__nav {
    margin-bottom: 50px;
  }

  .choose-your-tour__card {
    width: 100%;
    padding: 50px 25px 50px 25px;
    min-height: 350px;
  }

  .choose-your-tour__card-text {
    text-wrap: wrap;
    max-width: 200px;
  }

  .choose-your-tour__card-heading {
    font-size: $size-20;
  }

  .choose-your-tour__card-price {
    font-size: $size-16;
  }

  .choose-your-tour__card-button {
    font-size: $size-17;
    width: 150px;
    left: 3px;
  }

  .choose-your-tour__card-button img {
    left: 0px;
    top: 2px;
  }

  /* take_your_tour section */

  .take-your-tour {
    padding-top: 75px;
  }

  .take-your-tour__paragraph {
    margin-bottom: 50px;
  }

  .take-your-tour__form-input-name {
    font-size: $size-16;
  }
  .take-your-tour__form-select {
    font-size: $size-16;
    background-position: calc(100% - 15px) calc(1em + 9px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 15px;
  }

  .take-your-tour__form-select:focus {
    border: 1px solid $gray-300;
  }

  input[type="date"] {
    font-size: $size-16;
  }

  .take-your-tour__form-textarea-input {
    font-size: $size-16;
  }

  .take-your-tour__form-radio-style {
    width: 20px;
    height: 20px;
  }

  .take-your-tour__form-radio:checked
    + .take-your-tour__form-radio-style::before {
    width: 9px;
    height: 9px;
  }

  .take-your-tour__form-checkbox-style {
    width: 20px;
    height: 20px;
  }

  .take-your-tour__form-checkbox:checked
    + .take-your-tour__form-checkbox-style::before {
    width: 14px;
    height: 14px;
    transform: translate(-34%, -28%);
    background-image: url("../../../images/take_your_tour/chek-mobile.svg");
  }

  .take-your-tour__form-btn_submit {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    font-size: $size-16;
  }

  .take-your-tour__form-btn_reset {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    font-size: $size-16;
  }

  /* reviews */

  .reviews {
    padding-top: 75px;
  }

  .reviews__card {
    max-height: 600px;
  }

  .reviews__card-text {
    font-size: $size-20;
  }
  .reviews__card-author-name {
    font-size: $size-23;
  }

  /* travels phostos */

  .travels-photos {
    padding-top: 75px;
  }

  .travels-photos__images-row {
    gap: 20px;
  }

  .travels-photos__images-col:nth-child(3) img {
    display: none;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(4) {
    display: none;
  }

  /* travel histories */

  .travel-histories {
    padding-top: 75px;
  }

  .travel-histories__card {
    height: 450px;
  }

  .ravel-histories__card-heading {
    font-size: $size-23;
  }

  .travel-histories__card-paragraph,
  .travel-histories__card-list {
    font-size: $size-16;
  }

  .travel-histories__card-social {
    gap: 20px;
  }

  .travel-histories__card-social-link {
    font-size: $size-16;
  }

  /* call to action */

  .call-to-action {
    padding-top: 75px;
  }

  .call-to-action__content {
    flex-direction: column;
  }
  .call-to-action__img {
    width: 300px;
    height: 300px;
  }

  .call-to-action__heading {
    text-align: center;
  }

  .call-to-action__paragraph {
    text-align: center;
  }

  /* footer */

  .footer {
    margin-top: 75px;
  }

  .footer__social-networks,
  .footer__link {
    font-size: $size-17;
  }

  .footer__link:not(:last-child) {
    margin-right: 30px;
  }

  .footer__link-img {
    left: -27px;
  }
}
