@media (max-width: 1024px) {
  .container {
    max-width: 950px;
    padding: 0 20px;
  }

  /* Header */

  .intro__header {
    padding: 24px 0;
  }

  .logo {
    padding-top: 4px;
  }

  .intro__nav-list {
    position: relative;
    top: -2px;
    left: -1px;
    gap: 30px;
  }

  .intro__contact {
    position: relative;
    top: -2px;
    left: -1px;
  }

  /* Intro Section */

  .intro__content {
    gap: 51px;
  }

  .intro__heading {
    left: 0;
  }

  .intro__description {
    max-width: 400px;
    position: relative;
    left: 1px;
    line-height: 139%;
  }

  .intro__btn {
    border-radius: 9px;
    padding: 5px 20px;
    width: 118px;
    height: 33px;

    position: relative;
    left: -1px;
  }

  /* ChooseYourTour Section */
  .choose-your-tour__heading {
    line-height: 117%;
    position: relative;
    left: 0px;

    margin-bottom: 37px;
  }

  .choose-your-tour__list {
    left: 1px;
  }
  .choose-your-tour__list-item {
    position: relative;
    top: 1px;
    left: -2px;
  }

  .choose-your-tour__link {
    letter-spacing: 0.002em;
  }

  .choose-your-tour__cards {
    grid-template-columns: 1fr 1fr;
    gap: 13px 24px;
  }

  .choose-your-tour__card {
    width: 102%;
    position: relative;
    left: -4px;
    top: 0px;
  }

  .choose-your-tour__card-text {
    width: 350px;
  }

  .choose-your-tour__card-heading {
    line-height: 123%;
  }

  .choose-your-tour__card-button {
    left: 27px;
    bottom: 43px;
  }

  .choose-your-tour__card-button img {
    display: inline-block;
    margin-left: 2px;
  }

  /* TakeYourTour Section */

  .take-your-tour__heading {
    margin-bottom: 38px;
  }

  .take-your-tour__paragraph {
    left: 0;
  }

  .take-your-tour__form {
    width: 101%;
    padding: 60px 60px 55px 60px;
    gap: 33px 20px;
  }

  .take-your-tour__form-input-name {
    padding: 34px 19px;
  }

  .take-your-tour__form-label {
    margin-bottom: 6px;
  }

  .take-your-tour__form-select {
    width: 100%;
    padding: 20px 19px;
  }

  .take-your-tour__form-select {
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
  }

  input[type="date"] {
    padding: 34px 19px;
  }

  .take-your-tour__form-radio-label {
    position: relative;
    top: 1px;

    margin-bottom: 8px;
  }

  .take_your_tour__form-radio-wrapper {
    gap: 32px;
  }

  .take-your-tour__form-radio-style {
    left: 1px;
  }
  .take-your-tour__form-checkbox-wrapper {
    align-items: center;
    display: flex;
    top: -4px;
  }

  .take-your-tour__form-checkbox {
    margin-left: 6px;
    margin-right: 13px;
  }

  .take-your-tour__form-checkbox-label {
    padding-left: 37px;
  }

  .take-your-tour__form-checkbox-style {
    left: 1px;
    top: 1px;
  }

  .take-your-tour__form-btns {
    top: -6px;
  }

  /* Reviews */

  .reviews {
    padding-top: 140px;
  }

  .reviews__heading {
    margin-bottom: 38px;
    line-height: 123%;
  }

  .reviews__paragraph {
    margin-bottom: 98px;
  }

  .reviews__cards {
    flex-wrap: nowrap;
    margin: 0 auto;

    gap: 18px;
  }
  .reviews__card {
    height: 841px;
    width: 445px;
    padding: 40px 36px;

    padding: 41px 38px;
  }

  .reviews__card:nth-child(2) {
    padding: 40px 30px 41px 41px;
  }

  .reviews__card-text {
    position: relative;
    left: -2px;
    max-width: 370px;
    overflow: hidden;
  }

  .reviews__card-author {
    top: 2px;
  }

  .reviews__card-author-name {
    position: relative;
    left: -1px;
  }

  .reviews__card-author-photo img {
    left: -1px;
  }

  .reviews__card-author-photo_2 {
    left: -5px;
    position: relative;
  }

  /* Travel Photos */

  .travels-photos__paragraph {
    margin-bottom: 98px;
  }

  .travels-photos__images-col img {
    height: 301px;
  }

  .travels-photos__images-row:nth-child(1)
    .travels-photos__images-col:nth-child(1)
    img {
    left: 11px;
    top: -1px;
  }

  .travels-photos__images-row:nth-child(1)
    .travels-photos__images-col:nth-child(3)
    img {
    left: 8px;
    top: -1px;
  }

  .travels-photos__images-row:nth-child(1)
    .travels-photos__images-col:nth-child(4)
    img {
    left: 5px;
    top: -1px;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(1)
    img {
    width: 104%;
    left: -1px;
    top: -1px;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(2)
    img {
    width: 104%;
    left: -4px;
    top: -1px;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(4)
    img {
    width: 103%;
    left: -5px;
    top: 0;
  }

  .travels-photos__images-row:nth-child(3)
    .travels-photos__images-col:nth-child(3)
    img {
    position: relative;
    left: -2px;
    width: 103%;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(5)
    img {
    width: 103%;
    left: -8px;
    top: 0;
  }

  .travels-photos__images-row:nth-child(1)
    .travels-photos__images-col:nth-child(2) {
    display: none;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(3) {
    display: none;
  }

  .travels-photos__images-row:nth-child(3)
    .travels-photos__images-col:nth-child(4) {
    display: none;
  }

  .travels-photos__images-row:nth-child(3)
    .travels-photos__images-col:nth-child(1)
    img {
    width: 102%;
    top: -1px;
    left: -2px;
  }

  .travels-photos__images-row:nth-child(3)
    .travels-photos__images-col:nth-child(2)
    img {
    width: 102%;
    left: -6px;
    top: -1px;
  }

  .travels-photos__images-row:nth-child(3)
    .travels-photos__images-col:nth-child(3)
    img {
    width: 102%;
    top: -1px;
    left: -8px;
  }

  /* Travels Histories */

  .travel-histories__paragraph {
    top: -24px;
  }

  .travel-histories__card {
    left: -4px;
    width: 101%;
    padding: 62px 60px;
  }

  .travel-histories__card-heading {
    left: 0;
  }

  .travel-histories__card-paragraph {
    left: 0;
  }

  .travel-histories__card-list {
    margin-left: -1px;
  }

  .travel-histories__card-item {
    left: 31px;
  }

  .travel-histories__card-item::before {
    margin-left: -15px;
  }

  .travel-histories__card-links {
    left: 0;
    top: 4px;
  }

  .travel-histories__card-links-btn {
    left: -24px;
  }

  .travel-histories__card-social {
    position: relative;
    left: -1px;
  }

  /* Call to action */

  .call-to-action {
    padding-top: 117px;
  }

  .call-to-action__content {
    left: 0;
  }

  /* Footer */

  .footer__social-networks {
    position: relative;
    left: -4px;
  }

  .footer__links {
    left: 1px;
  }

  .footer__link:not(:last-child) {
    margin-right: 60px;
  }

  .footer__link:nth-child(3) {
    position: relative;
    left: 3px;
  }

  .footer__link:nth-child(2) {
    position: relative;
    left: 1px;
  }
}
