@media (min-width: 361px) and (max-width: 550px) {
  .container {
    max-width: 480px;
  }

  /* header */

  .intro__nav {
    display: none;
  }

  .intro__contact {
    font-size: $size-17;
  }

  /* intro  */

  .intro {
    height: 700px;
  }

  .intro__heading {
    font-size: $size-35;
  }

  .intro__description {
    max-width: 350px;
  }

  /* choose your tour section */

  .choose-your-tour {
    padding-top: 75px;
  }

  .choose-your-tour__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choose-your-tour__heading {
    font-size: $size-35;
  }

  .choose-your-tour__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .choose-your-tour__cards {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .choose-your-tour__link {
    font-size: $size-16;
    line-height: 142%;
  }

  .choose-your-tour__link:active {
    font-size: $size-16;
    line-height: 142%;
    text-underline-offset: 4px;
  }
  .choose-your-tour__nav {
    margin-bottom: 45px;
  }

  .choose-your-tour__card-content {
    width: 268px;
  }

  .choose-your-tour__cards {
    grid-template-columns: 1fr;
    gap: 13px;
  }

  .choose-your-tour__card {
    left: 0;
    top: 0;
    width: 318px;
    min-height: 318px;
    border-radius: 20px;
    padding: 25px;
  }

  .choose-your-tour__card::before {
    border-radius: 20px;
  }

  .choose-your-tour__card-img {
    border-radius: 20px;
  }

  .choose-your-tour__card-heading {
    margin-bottom: 14px;
    font-size: $size-23;
    line-height: 120%;
    letter-spacing: 0.04em;
  }

  .choose-your-tour__card-price,
  .choose-your-tour__card-button {
    font-size: $size-16;
    line-height: 142%;
  }

  .choose-your-tour__card-button {
    left: 4px;
    bottom: 1.07em;
    padding: 0;
  }

  .choose-your-tour__card-button img {
    left: -35px;
  }

  /* Take your tour section */

  .take-your-tour {
    padding-top: 75px;
  }

  .take-your-tour__paragraph {
    position: relative;
    top: -9px;
    margin-bottom: 31px;
    font-size: $size-16;
    line-height: 142%;
  }

  .take-your-tour__form {
    display: flex;
    flex-direction: column;
    width: 318px;
    height: 1110px;
    padding: 20px 20px 40px 20px;
    gap: 33px;
    border-radius: 30px;
  }

  .take-your-tour__form-label {
    position: relative;
    left: -1px;
    font-size: $size-16;
    line-height: 142%;
  }

  .take-your-tour__form-input-name,
  .take-your-tour__form-select {
    padding: 8px;
    width: 278px;
    height: 43px;
    border-radius: 10px;
    font-size: $size-16;
    line-height: 142%;
  }
  .take-your-tour__form-textarea-label,
  .take-your-tour__form-radio-label {
    font-size: $size-16;
    line-height: 142%;
  }

  .take-your-tour__form-radio {
    top: -3px;
    left: -1px;
  }

  .take-your-tour__form-radio-style {
    width: 20px;
    height: 20px;
  }

  .take-your-tour__form-radio:checked
    + .take-your-tour__form-radio-style::before {
    width: 9px;
    height: 9px;
  }

  .take-your-tour__form-checkbox-style {
    width: 20px;
    height: 20px;
  }

  .take-your-tour__form-checkbox:checked
    + .take-your-tour__form-checkbox-style::before {
    width: 14px;
    height: 14px;
    transform: translate(-34%, -28%);
    background-image: url("../../../images/take_your_tour/chek-mobile.svg");
  }

  .take-your-tour__label-direction,
  .take-your-tour__form-label-phone {
    position: relative;
    top: -2px;
  }

  .take-your-tour__form-input-phone {
    position: relative;
    top: -2px;
  }

  .take-your-tour__form-label-date {
    position: relative;
    top: -5px;
  }

  input[type="date"] {
    position: relative;
    top: -3px;
    left: -2px;

    font-size: $size-16;
    line-height: 142%;
    color: $gray-300;
  }

  .take-your-tour__form-select {
    background-position: calc(103% - 19px) calc(1em + -8px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
  }

  .take-your-tour__form-textarea {
    position: relative;
    top: -7px;
    left: -1px;
  }

  .take-your-tour__form-textarea-input {
    padding: 10px;
    width: 278px;
    height: 132px;
    border-radius: 10px;
  }

  .take-your-tour__form-radio-btns {
    left: -1px;
    top: -14px;
  }

  .take-your-tour__form-radio-wrapper span {
    position: relative;
    top: -1px;
    font-size: $size-16;
    line-height: 142%;
  }
  .take-your-tour__form-radio {
    position: relative;
    top: -2px;
    display: block;
    margin-right: -20px;
    margin-left: 4px;
    transform: scale(1.6);
  }

  .take-your-tour__form-checkbox-wrapper {
    top: -16px;
    display: flex;
    align-items: flex-start;
  }

  .take-your-tour__form-checkbox {
    transform: scale(1.6);
    margin-left: 2px;
    margin-right: 16px;
  }
  .take-your-tour__form-checkbox-label {
    position: relative;
    top: -2px;
    display: block;
    width: 278px;
    font-size: $size-16;
    line-height: 142%;
    letter-spacing: -0.01em;
  }

  .take-your-tour__form-btns {
    gap: 10px;
  }

  .take-your-tour__form-btn_submit,
  .take-your-tour__form-btn_reset {
    position: relative;
    top: -12px;
    width: 133px;
    height: 47px;
    border-radius: 10px;
    padding: 0;
    font-size: $size-16;
    line-height: 142%;
  }

  /* reviews */

  .reviews {
    padding-top: 75px;
  }

  .reviews__cards {
    flex-wrap: wrap;
  }

  .reviews__card {
    height: fit-content;
  }

  .reviews__card-text {
    font-size: $size-17;
  }

  /* travels photos */

  .travels-photos {
    margin: 0 auto 75px auto;

    padding-top: 75px;
  }

  .travels-photos__heading {
    position: relative;
    top: -9px;
    margin-bottom: 20px;
  }

  .travels-photos__paragraph {
    margin-bottom: 42px;
  }

  .travels-photos__images {
    gap: 18px;
  }

  .travels-photos__images-col:nth-child(3) img {
    display: none;
  }

  .travels-photos__images-row:first-child
    .travels-photos__images-col:nth-child(1)
    img {
    left: 8px;
  }

  .travels-photos__images-row:first-child
    .travels-photos__images-col:nth-child(4)
    img {
    left: -12px;
  }

  .travels-photos__images-row:first-child
    .travels-photos__images-col:nth-child(1)
    img,
  .travels-photos__images-row:first-child
    .travels-photos__images-col:nth-child(4)
    img,
  .travels-photos__images-row:last-child
    .travels-photos__images-col:nth-child(1)
    img,
  .travels-photos__images-row:last-child
    .travels-photos__images-col:nth-child(2)
    img {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }

  .travels-photos__images-row:nth-child(2) .travels-photos__images-col img {
    width: 99px;
    height: 110px;
    border-radius: 20px;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(1)
    img {
    width: 100%;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(4)
    img {
    position: relative;
    left: -1px;
    width: 98%;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(5)
    img {
    position: relative;
    left: -1px;
    width: 99%;
  }

  .travels-photos__images-row:nth-child(2)
    .travels-photos__images-col:nth-child(2) {
    display: none;
  }

  .travels-photos__images-row:first-child {
    gap: 18px;
  }

  .travels-photos__images-row:last-child,
  .travels-photos__images-row:nth-child(2) {
    gap: 9px;
  }

  .travels-photos__images-row:last-child
    .travels-photos__images-col:nth-child(1)
    img {
    left: -1px;
    width: 101%;
  }

  .travels-photos__images-row:last-child
    .travels-photos__images-col:nth-child(2)
    img {
    left: 3px;
    width: 101%;
  }

  /* travel histories */

  .travel-histories {
    margin-bottom: 55px;
    padding-top: 1px;
  }

  .travel-histories__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .travel-histories__heading {
    margin-bottom: 9px;
    line-height: 112%;
    letter-spacing: 0.02em;
  }

  .travel-histories__paragraph {
    margin-bottom: 61px;
    text-align: center;
    line-height: 142%;
  }

  .travel-histories__cards {
    gap: 20px;
  }

  .travel-histories__card {
    left: 0;
    width: 318px;
    height: 455px;
    padding: 31px;
    border-radius: 20px;
    overflow: hidden;
  }

  .travel-histories__card::before {
    border-radius: 20px;
  }

  .travel-histories__card:not(:last-child) {
    margin-bottom: 0;
  }

  .travel-histories__card-heading {
    width: 120px;
    margin: 0 0 20px 0;
    font-size: $size-23;
    line-height: 120%;
    letter-spacing: 0.04em;
  }

  .travel-histories__card-paragraph,
  .travel-histories__card-list {
    font-size: $size-16;
    line-height: 142%;
  }

  .travel-histories__card-paragraph {
    padding: 0 0 35px 0;
  }
  .travel-histories__card-item {
    left: 24px;
  }

  .travel-histories__card-item:not(:last-child) {
    margin-bottom: 0;
  }

  .travel-histories__card-links-btn {
    top: 8px;
    left: -23px;
  }

  .travel-histories__card-img {
    width: 318px;
    height: 455px;
    border-radius: 20px;
    object-fit: cover;
  }
  .travel-histories__card-social {
    display: none;
  }

  /* call to action */

  .call-to-action {
    padding-top: 0;
  }

  .call-to-action__content {
    flex-direction: column;
    gap: 31px;
  }

  .call-to-action__img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
  }

  .call-to-action__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .call-to-action__heading {
    margin-bottom: 19px;
    font-weight: $weight-700;
    font-size: $size-23;
    line-height: 120%;
    letter-spacing: 0.04em;
  }

  .call-to-action__paragraph {
    width: 312px;
    font-weight: $weight-400;
    font-size: $size-16;
    line-height: 142%;
  }

  /* footer */

  .footer {
    margin-top: 75px;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__social-networks {
    left: -1px;
    top: -7px;
    font-size: $size-16;
    line-height: 142%;
  }

  .footer__link:not(:last-child) {
    margin-right: 41px;
  }
  .footer__link,
  .footer__link:nth-child(2),
  .footer__link:last-child {
    left: 12px;
    top: 1px;
    font-size: $size-16;
    line-height: 142%;
  }

  .footer__link-img {
    left: -27px;
    top: -2px;
  }
}
