@import "../../../base/variables";

.take-tour__form-btn_reset {
  width: 235px;
  height: 58px;
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  background: $green-100;
  color: $green-400;
  font-size: $size-20;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: $gray-100;
  }

  &:active {
    background: $gray-200;
  }
}

@media (max-width: 1024px) {
  .take-tour__form-btn_reset {
    padding: 15px 52px;
  }
}

@media (max-width: 768px) {
  .take-tour__form-btn_reset {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    font-size: $size-16;
  }
}

@media (max-width: 550px) {
  .take-tour__form-btn_reset {
    position: relative;
    top: -12px;
    width: 133px;
    height: 47px;
    padding: 0;
  }
}

@media (max-width: 360px) {
  .take-tour__form-btn_reset {
    top: -14px;
    border-radius: 9px;
  }
}

@media (hover: none) {
  .take-tour__form-btn_reset {
    &:hover {
      background: $green-100;
    }
    &:active {
      background: $gray-200;
    }
  }
}
