@import "./base/variables";
@import "./base/normilize";
// container
@import "./blocks/container/container";
// header 
@import "./blocks/header/header";
@import "./blocks/header/__btn/header__btn";
@import "./blocks/header/__contact-link--scroll/header__contact-link--scroll";
@import "./blocks/header/__contact-link/header__contact-link";
@import "./blocks/header/__content/header__content";
@import "./blocks/header/__description/header__description";
@import "./blocks/header/__heading/header__heading";
@import "./blocks/header/__logo/logo";
@import "./blocks/header/__nav-link--scroll/header__nav-link--scroll";
@import "./blocks/header/__nav-link/header__nav-link";
@import "./blocks/header/__nav-list/header__nav-list";
@import "./blocks/header/__nav/header__nav";
@import "./blocks/header/__text/header__text";
@import "./blocks/header/_scroll/header_scroll";
// choose-tour section
@import "./blocks/choose-tour/choose-tour";
@import "./blocks/choose-tour/__button-arrow/choose-tour__button-arrow";
@import "./blocks/choose-tour/__button/choose-tour__button";
@import "./blocks/choose-tour/__card-button/choose-tour__card-button";
@import "./blocks/choose-tour/__card-content/choose-tour__card-content";
@import "./blocks/choose-tour/__card-heading/choose-tour__card-heading";
@import "./blocks/choose-tour/__card-img/choose-tour__card-img";
@import "./blocks/choose-tour/__card-price/choose-tour__card-price";
@import "./blocks/choose-tour/__card-text/choose-tour__card-text";
@import "./blocks/choose-tour/__card/choose-tour__card";
@import "./blocks/choose-tour/__cards/choose-tour__cards";
@import "./blocks/choose-tour/__heading/choose-tour__heading";
@import "./blocks/choose-tour/__list-item/choose-tour__list-item";
@import "./blocks/choose-tour/__list/choose-tour__list";
@import "./blocks/choose-tour/__nav/choose-tour__nav";
// take-tour section
@import "./blocks/take-tour/take-tour";
@import "./blocks/take-tour/__form-btn_reset/take-tour__form-btn_reset";
@import "./blocks/take-tour/__form-btn_submit/take-tour__form-btn_submit";
@import "./blocks/take-tour/__form-btns/take-tour__form-btns";
@import "./blocks/take-tour/__form-checkbox-link/take-tour__form-checkbox-link";
@import "./blocks/take-tour/__form-checkbox-wrapper/take-tour__form-checkbox-wrapper";
@import "./blocks/take-tour/__form-date/take-tour__form-date";
@import "./blocks/take-tour/__form-fieldset/take-tour__form-fieldset";
@import "./blocks/take-tour/__form-input-email/take-tour__form-input-email";
@import "./blocks/take-tour/__form-input-name/take-tour__form-input-name";
@import "./blocks/take-tour/__form-input-phone/take-tour__form-input-phone";
@import "./blocks/take-tour/__form-label/take-tour__form-label";
@import "./blocks/take-tour/__form-radio-btns/take-tour__form-radio-btns";
@import "./blocks/take-tour/__form-radio-label/take-tour__form-radio-label";
@import "./blocks/take-tour/__form-radio-wraper/take-tour__form-radio-wrapper";
@import "./blocks/take-tour/__form-radio/take-tour__form-radio";
@import "./blocks/take-tour/__form-select/take-tour__form-select";
@import "./blocks/take-tour/__form-textarea-input/take-tour__form-textarea-input";
@import "./blocks/take-tour/__form-textarea-label/take-tour__form-textarea-label";
@import "./blocks/take-tour/__form-textarea/take-tour__form-textarea";
@import "./blocks/take-tour/__form/take-tour__form";
@import "./blocks/take-tour/__heading/take-tour__heading";
@import "./blocks/take-tour/__label-direction/take-tour__label-direction";
@import "./blocks/take-tour/__paragraph/take-tour__paragraph";
@import "./blocks/take-tour/__text/take-tour__text";
// reviews section
@import "./blocks/reviews/reviews";
@import "./blocks/reviews/__card-author-name/reviews__card-author-name";
@import "./blocks/reviews/__card-author-names/reviews__card-author-names";
@import "./blocks/reviews/__card-author-photo/reviews__card-author-photo";
@import "./blocks/reviews/__card-author-tour/reviews__card-author-tour";
@import "./blocks/reviews/__card-author/reviews__card-author";
@import "./blocks/reviews/__card-text/reviews__card-text";
@import "./blocks/reviews/__card/reviews__card";
@import "./blocks/reviews/__cards/reviews__cards";
@import "./blocks/reviews/__heading/reviews__heading";
@import "./blocks/reviews/__paragraph/reviews__paragraph";
// photos section 
@import "./blocks/photos/photos";
@import "./blocks/photos/__heading/photos__heading";
@import "./blocks/photos/__images-col/photos__images-col";
@import "./blocks/photos/__images-row/photos__images-row";
@import "./blocks/photos/__images/photos__images";
@import "./blocks/photos/__paragraph/photos__paragraph";
@import "./blocks/photos/__text/photos__text";
// histories section
@import "./blocks/histories/histories";
@import "./blocks/histories/__card-img/histories__card-img";
@import "./blocks/histories/__card-item/histories__card-item";
@import "./blocks/histories/__card-links-btn/histories__card-links-btn";
@import "./blocks/histories/__card-links/histories__card-links";
@import "./blocks/histories/__card-list/histories__card-list";
@import "./blocks/histories/__card-paragraph/histories__card-paragraph";
@import "./blocks/histories/__card-social-link/histories__card-social-link";
@import "./blocks/histories/__card-social-link/histories__card-social-link";
@import "./blocks/histories/__card-socials/histories__card-social";
@import "./blocks/histories/__card/histories__card";
@import "./blocks/histories/__card__heading/histories__card-heading";
@import "./blocks/histories/__cards/histories__cards";
@import "./blocks/histories/__heading/histories__heading";
@import "./blocks/histories/__paragraph/histories__paragraph";
// contact section
@import "./blocks/contact/contact";
@import "./blocks/contact/__content/contact__content";
@import "./blocks/contact/__heading/contact__heading";
@import "./blocks/contact/__img/contact__img";
@import "./blocks/contact/__paragraph/contact__paragraph";
@import "./blocks/contact/__text/contact__text";
// footer 
@import "./blocks/footer/footer";
@import "./blocks/footer/__content/footer__content";
@import "./blocks/footer/__link-img/footer__link-img";
@import "./blocks/footer/__link/footer__link";
@import "./blocks/footer/__links/footer__links";
@import "./blocks/footer/__social-networks/footer__social-networks";
html {
  scroll-behavior: smooth;
}

body {
  background-color: $beige-100;
  font-family: $font-family;
  font-weight: $weight-400;
  color: $black;
}
