@import "./base/variables";
@import "./base/normilize";
@import "./blocks/container/container";
@import "./blocks/header/header";
@import "./blocks/choose-tour/choose-tour";
@import "./blocks/take-tour/take-tour";
@import "./blocks/reviews/reviews";
@import "./blocks/photos/photos";
@import "./blocks/histories/histories";
@import "./blocks/contact/contact";
@import "./blocks/footer/footer";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $beige-100;
  font-family: $font-family;
  font-weight: $weight-400;
  color: $black;
}
