@import "../../../base/variables";

.take-tour__form-textarea-label {
  margin-bottom: 8px;
  display: block;
}

@media (max-width: 550px) {
  .take-tour__form-textarea-label {
    font-size: $size-16;
  }
}

@media (max-width: 360px) {
  .take-tour__form-textarea-label {
    margin: -2px 0 8px;
  }
}
