@import "../../../base/variables";

.take-tour__form-textarea-label {
  // position: relative;
  // top: -1px;
  display: block;
  margin-bottom: 8px;
}

@media (max-width: 1024px) {
  .take-tour__form-textarea-label {
    // top: 1px;
  }
}

@media (max-width: 550px) {
  .take-tour__form-textarea-label {
    font-size: $size-16;
  }
}

@media (max-width: 360px) {
  .take-tour__form-textarea-label {
    // top: -1px;
    margin: -2px 0 8px;
  }
}
