@import '../../../base/variables';

.take-tour__form-btn_submit {
  width: 235px;
  height: 58px;
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  background: $green-400;
  color: $white;
  font-weight: $weight-400;
  font-size: $size-20;
  line-height: 142%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: $green-300;
  }

  &:active {
    background: $green-200;
  }
}

@media (max-width: 1024px) {
  .take-tour__form-btn_submit{
    padding: 15px 30px;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .take-tour__form-btn_submit {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    font-size: $size-16;
  }
}

@media (min-width: 361px) and (max-width: 550px) {
  .take-tour__form-btn_submit {
    position: relative;
    top: -12px;
    width: 133px;
    height: 47px;
    border-radius: 10px;
    padding: 0;
    font-size: $size-16;
    line-height: 142%;
  }
}

@media (max-width: 360px) {
  .take-tour__form-btn_submit {
    position: relative;
    top: -14px;
    width: 133px;
    height: 47px;
    padding: 0;
    border-radius: 9px;
    font-size: $size-16;
    line-height: 142%;
  }
}
