.reviews {
  padding-top: 133px;
}

@media (max-width: 1024px) {
  .reviews {
    padding-top: 140px;
  }
}

@media (max-width: 768px) {
  .reviews {
    padding-top: 75px;
  }
}

@media (max-width: 360px) {
  .reviews {
    padding-top: 82px;
  }
}
